[2021-02-10 14:52] youssefavx opened #5 ""Favorite" models and datasets + follow organizations/users"
Hey guys, huge fan of you and what you've done to make all our lives easier.

I think it would be really cool if the site https://huggingface.co/ had the option to favorite a model or dataset if you're a user.

[2021-06-03 15:01] lewtun opened #61 "Exploratory Analysis of Models on Hub"

[2021-06-04 07:19] NielsRogge opened #6 "New object detection and image segmentation widgets"
For the [DETR](https://arxiv.org/abs/2005.12872) model, which will soon be part of HuggingFace Transformers (see https://github.com/huggingface/transformers/pull/11653#issue-637061171), it would be cool to have object detection and image segmentation (actually panoptic segmentation) inference widgets.

Similar to the image classification widget, a user should be able to upload/drag an image to the

[2021-06-06 17:40] flozi00 opened #7 "[feature request / discussion] monetisation of models"
What do you think about paying some % to developer / owners of models if it's getting used through inference API ?
It could make it more attractive uploading more amazing models if it's possible to generate some passive income.
It would be like rapid API for NLP 🤗

[2021-06-09 11:42] Matthieu-Tinycoaching opened #9 "[Startup Plan]: Failed to launch GPU inference"

[2021-06-11 07:39] julien-c opened #13 "Widget for Table to text generation"
https://ai.googleblog.com/2021/01/totto-controlled-table-to-text.html

as suggested by @mrm8488

Should be decently easy once huggingface/huggingface_hub#87 is merged

[2021-06-11 07:41] julien-c opened #14 "Widget for zero-shot image classification"
Would have as inputs:
- an image dropzone
- a field with possibles labels

as suggested by @patil-suraj (for CLIP?)

Should be decently easy once huggingface/huggingface_hub#87 is merged

[2021-06-11 07:41] julien-c opened #17 "Widget for zero-shot image classification"
Would have as inputs:
- an image dropzone
- a field with possibles labels

as suggested by @patil-suraj (for CLIP?)

Should be decently easy once huggingface/huggingface_hub#87 is merged

[2021-06-11 07:41] julien-c opened #19 "Widget for zero-shot image classification"
Would have as inputs:
- an image dropzone
- a field with possibles labels

as suggested by @patil-suraj (for CLIP?)

Should be decently easy once huggingface/huggingface_hub#87 is merged

[2021-06-16 11:29] osanseviero opened #18 "token-classification widget shows empty result when there are no classifications"
Should we either show the same sentence or say that no tokens were found?

[2021-06-16 14:43] osanseviero opened #15 "Widget for image captioning"
Would have as input
* Image

Would output
* Text

This should be similar in implementation to the image classification widget.

[2021-06-19 05:28] gchhablani opened #16 "Widget for Visual Question Answering"
This request for a widget/inference API for the hub for multimodal models for VQA tasks:

Would have input as
 - Image
 - Question
Would output
- Answer

This should be used for VisualBERT/LXMERT models. And might need detectron or something similar to the FasterRCNN model here : https://github.com/huggingface/transformers/tree/master/examples/research_projects/lxmert

@LysandreJik

[2021-06-23 10:47] julien-c opened #26 "Document hf.co webhooks and open them publicly if necessary (process to be defined)"

[2021-07-03 11:35] cakiki opened #25 "DOI Generation for Artifacts"
It would be useful to be able to generate a [Digital Object Identifier](https://en.wikipedia.org/wiki/Digital_object_identifier) to artifacts living on the Hub.

It would **let people cite a specific dataset or a specific model, and make their own datasets and models citable**. Some venues require DOIs for digital resources and it would be nice to not have to use 3rd parties for that.

Kaggle, for

[2021-07-24 16:13] avidale opened #23 "Allow multilabel classification mode for widgets in the models repo"

[2021-08-02 20:26] lewtun opened #22 "Add docs on Hub organisations"
As described in [this](https://discuss.huggingface.co/t/how-do-organizations-work/8918?u=lewtun) forum comment, the Hub [docs](https://huggingface.co/docs/hub/main) are currently a bit sparse on:

* Searching for existing orgs
* How to join an org
* What features are available between free vs premium subscriptions

It would be nice to integrate this feedback into the docs.

[2021-08-19 08:30] NielsRogge opened #21 "Feature request: widgets for document image understanding and document image VQA"
I'm currently adding LayoutLMv2 and LayoutXLM to HuggingFace Transformers. These models, built by Microsoft, have impressive capabilities for understanding document images (scanned documents, such as PDFs). LayoutLM, and its successor, LayoutLMv2, are extensions of BERT that incorporate layout and visual information, besides just text. LayoutXLM is a multilingual version of LayoutLMv2.

It would b

[2021-08-25 13:59] osanseviero opened #53 "Document model repo best practices"

[2021-08-27 09:23] saattrupdan opened #20 "Language filtering on the Hub does not work correctly"
(I noticed recently that you changed the language filtering GET parameter from `filter` to `language`, but unfortunately my problem still persists)

If I [search for Danish models](https://huggingface.co/models?language=da) then models like [this](https://huggingface.co/TransQuest/siamesetransquest-da-en_de-wiki) also pop up, which is not a Danish model, but has the `da` tag (for "direct assessmen

[2021-08-31 20:43] lewtun opened #52 "Tracking integration for Zero-Shot Sequence Labeling with TARS [FLAIR]"
In[ v0.9](https://github.com/flairNLP/flair/releases/tag/v0.9) of `flair` a new zero-shot sequence labeling feature was included which seems (a) very exciting and (b) very useful for real-world NER applications where acquiring labeled data is expensive.

It would be cool to include support for this in the Hugging Face Hub, possibly as a companion widget to the existing [one](https://huggingface.co

[2021-09-02 20:48] nateraw opened #51 "Image to Image Widget"
Would have as input

- Image

Would output:

- Image

This should be similar in implementation to the image classification widget.

[2021-09-09 08:04] osanseviero opened #45 "Tracking integration for image feature extraction"

[2021-09-09 08:05] osanseviero opened #44 "Tracking integration for Object Detection"
## Tracking integration of task - Object Detection

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline` https://github.com/huggingface/transformers/blob/master/src/transformers/pi

[2021-09-09 08:06] osanseviero opened #43 "Tracking integration for Image Segmentation"
## Tracking integration of task - Image Segmentation

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline` https://github.com/huggingface/transformers/pull/13828
  - [ ] Added to C

[2021-09-09 08:06] osanseviero opened #42 "Tracking integration for Image to Image"
## Tracking integration of task - Image to image

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [x] Added to Community Inference API for 3rd party library
  - [ ] Added

[2021-09-09 08:07] osanseviero opened #47 "Tracking integration for Table to Text generation"
## Tracking integration of task - Table to Text generation

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  -

[2021-09-09 08:08] osanseviero opened #41 "Tracking integration for Zero-shot Image classification"
## Tracking integration of task - Zero-shot Image classification

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party librar

[2021-09-09 08:09] osanseviero opened #39 "Tracking integration for Image to Text (Image Captioning, etc)"
## Tracking integration of task - Image to Text

Note that you're not expected to do all of the following steps. This issue helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [x] Added to Community Inference API for 3rd party library
  - [ ] Adde

[2021-09-09 08:09] osanseviero opened #40 "Tracking integration for Image to Text (Image Captioning, etc)"
## Tracking integration of task - Image to Text

Note that you're not expected to do all of the following steps. This issue helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [x] Added to Community Inference API for 3rd party library
  - [ ] Adde

[2021-09-09 09:15] osanseviero opened #38 "Tracking integration for Image Question Answering"
## Tracking integration of task -Image Question Answering

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [

[2021-09-11 13:12] lbourdois opened #32 "Improve the tagging of models"
Hi,

I hope first of all to open this problem in the right place (I hesitated to post in this repo but it seems less active with only issues in 1 year: https://github.com/huggingface/model_card).

I'll illustrate my observation by talking about French models, but the logic applies to any language.

I found by chance the following model on the hub: https://huggingface.co/dbmdz/electra-base-french-e

[2021-09-16 09:01] NielsRogge opened #31 "Feature request: add link to model documentation"
**Is your feature request related to a problem? Please describe.**
As discussed on Slack, it would be nice if we add a direct link to the documentation of a model on the hub (e.g. linking to https://huggingface.co/transformers/model_doc/bert.html for [bert-base-uncased](https://huggingface.co/bert-base-uncased)). This can probably be done based on the `config.json` of a model.

**Describe the solu

[2021-09-20 22:55] lighteternal opened #37 "Tracking integration for textual entailment/NLI"
**Is your feature request related to a problem? Please describe.**
The textual entailment / NLI task cannot be easily visualized through the Hosted inference API. Widget pipeline tags exist for most downstream tasks (e.g. 0-shot classification, QA, STS)

**Describe the solution you'd like**
A widget dedicated to textual entailment (e.g. outputting whether the hypothesis entails/contradicts/is neut

[2021-09-22 16:36] osanseviero opened #35 "Tracking integration for text-nearest"
## Tracking integration of task - text-nearest

Naming is tentative

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [x] Added to Community Inference API for 3rd party lib

[2021-10-13 07:37] cakiki opened #29 "🚀Display (and enable filtering by) size / number of parameters"
**Is your feature request related to a problem? Please describe.**
It is hard to tell how big a model is without going to the repo and seeing the size of the weights file.

**Describe the solution you'd like**
It might prove useful to be able to sort models by size or number of parameters, especially for people with more modest compute budgets. Perhaps even display that information alongside a mod

[2021-10-18 14:00] asier-gutierrez opened #28 "Transferring models/stuff Organization to Organization does not work"
As you can see on the following image, the dropdown is disabled. I tried to remove de "disabled" attribute using Chrome Development Console but the dropdown does not contain the organization I want to make the transfer to. I am member of both organizations.

![image](https://user-images.githubusercontent.com/14359241/137745833-a704ca2d-c086-4bfb-9622-b068b798066b.png)

[2021-10-18 15:04] cccntu opened #27 "(Space) transformers is not installed in gradio SDK?"
**Is your feature request related to a problem? Please describe.**

I got this error:
[code]

when I pushed this version to spaces https://huggingface.co/spaces/ttj/t0-generation/commit/efc071478da5be7f6a369b034ecda4844ed3ad22

**Describe the solution you'd like**

Pre-install common libraries.

[2021-10-28 16:07] nateraw opened #36 "Tracking integration for video classification"
## Tracking integration of task - **video-classification**

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  -

[2021-10-28 16:07] nateraw opened #48 "Tracking integration for Video to Video"
## Tracking integration of task - **video-to-video**

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Ad

[2021-11-17 09:56] osanseviero opened #50 "Add inference API snippets for non-NLP tasks"
We are having more non-NLP tasks supported in the Inference API but there are no code snippets at https://huggingface.co/superb/hubert-large-superb-er even if there are at https://api-inference.huggingface.co/docs/python/html/detailed_parameters.html#audio-classification-task

This probably requires some internal changes + changing https://github.com/huggingface/huggingface_hub/tree/main/widgets/s

[2021-11-18 15:32] osanseviero opened #49 "Tracking integration for Video to Text (video-text retrieval)"
## Tracking integration of task - Video Text Retrieval

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ]

[2021-11-27 11:48] Ahmetemintek opened #30 "Getting Error while Starting Sparksession"
Hello, I am trying to create new streamlit app on HuggingFace by using pyspark in it. <br/>
I've created app.py file, requirement.txt file and I run a basic streamlit app without pyspark and it worked seamlessly. <br/>
However, problem starts when I add the following line `spark = SparkSession.builder.appName("appName").getOrCreate()` to start sparksession, I got an error like following: <br/>
` E

[2021-12-02 15:56] mapmeld opened #24 "Improve right-to-left language support in inputs and outputs"
**Is your feature request related to a problem? Please describe.**

In newer versions of HuggingFace_Hub, text inputs and outputs left-justify their text, when we can add an attribute to automatically detect and adjust for right-to-left language text.

**Describe the solution you'd like**

*recommended*
- Model Page, Widget input: either the `<form>` or the `<span ... role="textbox">` element shou

[2021-12-06 11:22] osanseviero opened #12 "Token classification widget makes labeled token invisible in dark mode"
https://huggingface.co/Lauler/demformer?text=dem+har+s%C3%B6kt+upp+de+f%C3%B6r+att+prata
<img width="530" alt="Screen Shot 2021-12-06 at 12 18 57 PM" src="https://user-images.githubusercontent.com/7246357/144837326-f2e6617a-5b2d-4ac6-a944-322ad981cf97.png">

[2021-12-11 09:34] koaning opened #11 "Show `pipeline` in "use in transformers" instead."
When I go to a repo [like this one](https://huggingface.co/oliverguhr/fullstop-punctuation-multilang-large) I can click the "use in transformers" button. This makes me think "grand! that'll be a quickstart!". It shows me this code;

[code]

This is a bit of a bummer. It tells me how to set up a tokenizer and a model. But it doesn't tell me at all how to use the model. It'd be much more pragmatic i

[2021-12-15 09:39] merveenoyan opened #10 "Pipeline type right next to special token in the widget on smaller size screens"
I was seeing BERT widget on one half of my screen and I saw this which I thought might be a bug worth reporting.
<img width="417" alt="Ekran Resmi 2021-12-15 12 33 04" src="https://user-images.githubusercontent.com/53175384/146161679-6b24675c-bd3c-436b-a135-51403a56ca12.png">
<img width="427" alt="Ekran Resmi 2021-12-15 12 32 18" src="https://user-images.githubusercontent.com/53175384/146161691-48

[2021-12-15 22:41] benjismith opened #8 "Text-generation API endpoint fails to handle integer-formatted numeric arguments in JSON request"
When I call the hosted text-generation API, the request fails if I set the `temperature` parameter to an integer value of `1` instead of a float value of `1.0`.

For example, this succeeds:

[code]

But this request fails:

[code]

...with this error message:

[code]

Both requests should succeed. The only difference between the two requests is the numeric formatting of the `temperature` parameter

[2021-12-21 05:07] josephrocca opened #4 "Upload progress bar contrast should be higher"
Here's the current progress bar:
![image](https://user-images.githubusercontent.com/1167575/146874320-bfaf7649-4783-4beb-936b-bb79fd83dd19.png)

On some screens it's very hard to see the progress at all.

For better accessibility and UX I think it should be closer to something like this:
![image](https://user-images.githubusercontent.com/1167575/146874482-9ca91a63-776d-45dd-bdfb-78150df636e0.png)

[2021-12-21 05:48] josephrocca opened #3 "Allow uploading large files via the web UI"
**Is your feature request related to a problem? Please describe.**
I tried to upload a 13GB dataset file (for [this repo](https://huggingface.co/datasets/rocca/sims4-faces)), and after waiting a couple of hours for it to upload, it gave a "Payload too large" error.

**Describe the solution you'd like**
I'd like to be able to upload large dataset files using the web UI.

**Describe alternatives you

[2022-01-02 10:21] merveenoyan opened #58 "Text Classification in Hosted Inference API with Multiple Inputs"
Some of the text classification tasks take two inputs just like similarity models, but since the problem is text classification, widget takes only one text, which confuses users on how to pass their text to model in hosted inference API. See [this question in the forum](https://discuss.huggingface.co/t/two-texts-inputs-for-text-classification-in-inference-api/12805).
Couple of other example models

[2022-01-12 05:00] samjgorman opened #2 "Display size of the generated dataset, downloaded dataset files, total amount of disk used in GB when MB >= 1000 in dataset cards"
**Is your feature request related to a problem? Please describe.**
Currently, the following data fields on the hub are only displayed in MB.

--Size of the generated dataset:
--Size of downloaded dataset files:
--Total amount of disk used:

Figures like 1895.01 MB and 1611.50 MB can become unwieldly as they grow in size to reason about the space they require, compared to 1.89501 GB or 1.6115 GB.

[2022-01-20 14:01] ck37 opened #65 "Text regression rather than classification"
**Is your feature request related to a problem? Please describe.**
I am trying to share our hate speech measurement model, which predicts a continuous measure for hate speech severity. So it is doing text regression rather than classification, but the input remains just a text input that gets tokenized. Is it possible to clarify if I need to create a custom pipeline for this, or how else to procee

[2022-01-20 16:21] merveenoyan opened #34 "Better visibility for task redirection inside widget"
<img width="494" alt="Ekran Resmi 2022-01-20 19 19 27" src="https://user-images.githubusercontent.com/53175384/150378768-eeae0810-79a0-44d0-92ab-da1a59e1eb68.png">

Hello,
I think that the task redirection inside widgets is not that visible (see above). Can we somehow but sort of a button next to the name of the task?

cc: @gary149 @beurkinger @osanseviero

[2022-01-20 16:33] merveenoyan opened #33 "Task page redirection from the model search page"
Hello,
I think it's a UX improvement and an improvement for better visibility of the pages. I want a redirection from the models page to task page, such that when they people filter for a task, they can also get better information on it (+these resources would be more visible)
cc: @osanseviero @gary149 @beurkinger

<img width="1028" alt="Ekran Resmi 2022-01-20 19 32 22" src="https://user-images.gi

[2022-03-04 17:41] dynamicwebpaige opened #57 "[huggingface.co] Include a tag for mobile-compatible models."
👋 Greetings! Am not sure if this is the correct place to file an issue for [huggingface.co](), but figured I'd try anyway. :)

### Issue Description
**Is your feature request related to a problem? Please describe.**
Would it be possible to include models that are mobile-compatible as a filterable category in the `Other` section on the Hugging Face website? Meaning `.tflite`, [`.ptl`](https://pytor

[2022-03-06 06:26] dynamicwebpaige opened #56 "Give users the ability to compare models' outputs for a given task."
## 🗒️  Motivation
When a user selects a specific task on the Hugging Face Hub - for example, [`image-to-text`](https://huggingface.co/models?pipeline_tag=image-to-text&sort=downloads):

<img width="859" alt="Screen Shot 2022-03-05 at 10 14 06 PM" src="https://user-images.githubusercontent.com/3712347/156911702-f8fdca6b-6f5f-4e97-9f99-30380678bfb1.png">

That user is shown a series of models, with

[2022-03-09 14:09] osanseviero opened #62 "Revamp of Hub documentation"
As we do huggingface/huggingface_hub#744 and add library documentation based in docstrings, the hub docs might split into `hugginface_hub` and product usage.

Based on existing content, what we can do is more self-contained use cases. An initial mental model without creating additional content would be

Move to `huggingface_hub` as guides
* How to programmatically access the Inference API
* https:

[2022-03-11 14:46] prashansa opened #54 "SSL certificates renewed very frequently"

[2022-03-13 05:35] josephrocca opened #55 "Different background color for markdown inline <code> blocks"
Here's what \`code\` blocks currently look like in README files:

![image](https://user-images.githubusercontent.com/1167575/158046530-d58382d2-c0d9-4ae5-9505-6c01dc84d81b.png)

I think something like this is much more readable:

![image](https://user-images.githubusercontent.com/1167575/158046507-507645ec-825b-483f-863a-0e4a13f2f67f.png)

In that example I've just added these 3 lines to the `.pro

[2022-03-16 13:52] LysandreJik opened #1 "README & contributing guide"
In order to have this repository be easier to contribute to, it should have the following:

- A more complete README
- A contributing guide mentioning where would contributions be appreciated, and how these should be done.

[2022-03-16 14:31] NielsRogge commented on #38
We do have a model already in the library (ViLT) that can do VQA pretty well! https://huggingface.co/spaces/nielsr/vilt-vqa

Should be relatively easy to add a pipeline for it. cc @Narsil

[2022-03-16 15:06] adrinjalali commented on #58
@osanseviero that should be fixed now.

[2022-03-16 16:53] osanseviero opened #59 "Add tabular-classification and tabular-regression"
## Tracking integration of task - **tabular-classification and tabular-regression**

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [x] Added to Community Inference API f

[2022-03-17 08:39] osanseviero commented on #6
Since this pipelines and widgets are merged, I'll close this issue

[2022-03-17 08:39] #6 closed

[2022-03-17 08:43] osanseviero commented on #17
Duplicate

[2022-03-17 08:43] #17 closed

[2022-03-17 08:43] osanseviero commented on #19
Duplicate

[2022-03-17 08:43] #19 closed

[2022-03-17 09:32] osanseviero commented on #31
This is now solved at least for transformers

[2022-03-17 09:32] #31 closed

[2022-03-17 09:32] osanseviero commented on #28
This is now possible, so closing this issue

[2022-03-17 09:32] #28 closed

[2022-03-17 09:33] osanseviero commented on #30
Closing this as it seems stale

[2022-03-17 09:33] #30 closed

[2022-03-17 11:09] adrinjalali commented on #62
Opened https://github.com/huggingface/huggingface_hub/issues/777 to track the part related to `huggingface_hub`

[2022-03-19 19:36] Dimiftb opened #67 "Change Password Button Does Not work"
Hi there,

I've been trying reset my password, however the change password button doesn't work so I cannot submit the request.

<img width="515" alt="image" src="https://user-images.githubusercontent.com/26279721/159135805-7b79ab2f-aea3-459d-bd23-be37111243dd.png">

I've tried different browsers (Chrome, Safari), however I get the same issue. I also tried by pressing enter, however nothing happens

[2022-03-19 20:32] osanseviero commented on #67
Thanks for reporting, this is the right place. We'll look into this.

[2022-03-19 20:32] osanseviero commented on #67
cc @Pierrci @gary149

[2022-03-21 09:15] osanseviero commented on #67
This is fixed now :smile:

[2022-03-21 09:15] #67 closed

[2022-03-21 10:13] patrickvonplaten commented on #62
RE:

I'd advocate quite strongly to have a higher level split between "Model repository", "Dataset repository", "Space repository". Structuring the documentation about "What's a repository?" is too bottom-up, from the engineering point of view. We structure `hf.co` quite strongly around "Models", "Datasets", "Spaces", so I think the better approach here would also be to have repo-type specific doc

[2022-03-21 15:33] lewtun commented on #53
cc @lvwerra who has experience with creating model repos with multiple checkpoints for largish models like CodeParrot

[2022-03-24 10:18] #18 closed

[2022-03-30 10:46] osanseviero opened #83 "Types restructuring"
I will be adding a couple of notes to track here

- [x] Change to a structure that will be easier to use/scale with granular types #84
- [x] Figure out a way to skip some types to show in datasets or models (just an extra field for this, but separate PR for cleanness) #86
- [ ] Move file to better file location
- [x] Incorporate input from datasets so we're aligned (subtasks in #86 #95)
- [x] Auto

[2022-03-30 16:28] Pierrci commented on #67
Hi @rooa, I just checked and I correctly received an email to reset my password. The main possibility I see here is that you're using a different email than the one set in your account.

[2022-03-30 16:34] rooa commented on #67
Thanks @Pierrci for the suggestion. Indeed, that was the case. I didn't realize I changed my primary email address for authentication. Thank you very much for your help!

[2022-03-31 14:09] aCampello opened #85 "Ability to modify "Use this model with transformers""
**Is your feature request related to a problem? Please describe.**

On the hub website, when you click "Use this model with transformers" it generates a sample code based on the classname of the model (see picture below)

<img width="1280" alt="Screenshot 2022-03-31 at 14 48 37" src="https://user-images.githubusercontent.com/27929341/161075150-3b08761f-beea-4336-8350-61664ceb5e91.png">

**Describe

[2022-03-31 14:16] osanseviero commented on #85
Hey there! This is actually retrieved from the `config.json` file in the repository (which in your case specified `BertMesh`.

What would you like this to look like?

[2022-03-31 20:36] osanseviero commented on #85
I see! The solution might be a bit hacky, but you can change the architectures to `AutoModel` and it should give you what you want, although `trust_remote_code=True` would still be missing.

@julien-c WDYT of a mechanism to override the inference snippet?

[2022-04-07 09:29] Narsil opened #91 "Adding missing tasks to `Accelerated Inference`"
**Is your feature request related to a problem? Please describe.**

https://huggingface.co/nielsr/segformer-test-sidewalk-v2

Models like this ARE enabled in the API, yet the button is not displayed, we should add the missing tasks.

**Describe the solution you'd like**

I can open PRs here (documentation needs to be added too in the API).

**Describe alternatives you've considered**

Since the nu

[2022-04-07 09:35] osanseviero commented on #91
I think this might be a duplicate of https://github.com/huggingface/hub-docs/issues/50. This will require a couple of changes since all the code assumes the API structure for NLP tasks. cc @beurkinger as well.

[2022-04-07 09:53] mishig25 commented on #91
I'll work on it today 👍

[2022-04-07 09:54] Narsil commented on #91
Closing this one as it's indeed a duplicate of #50 , Sorry didn't see it.

[2022-04-07 09:54] #91 closed

[2022-04-11 10:49] osanseviero opened #93 "Mask token is being displayed in text classification widget"
See https://huggingface.co/cross-encoder/ms-marco-MiniLM-L-12-v2

maybe @mishig25 ?

[2022-04-11 12:50] #93 closed

[2022-04-14 16:01] davanstrien opened #100 "How are download stats generated for datasets on the hub"
I am hoping this is the most appropriate repository for this topic. Let me know if I should open elsewhere. I have tried searching for this information but I may have missed something.

**Is your feature request related to a problem? Please describe.**
The Hugging Face hub provides some download stats in the public interface for datasets:
<img width="124" alt="Screenshot 2022-04-14 at 16 03 43" sr

[2022-04-19 09:22] patrickvonplaten opened #104 "Tracking integration for Speaker Verification"
## Tracking integration of task - Speaker Verification

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ]

[2022-04-19 09:22] patrickvonplaten opened #105 "Tracking integration for Speaker diarization"
## Tracking integration of task - Speaker diarization (Who spoke when?)

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party

[2022-04-19 09:59] osanseviero commented on #100
cc @lhoestq on this

[2022-04-19 12:38] kunnark opened #107 "Hosted Inference API and config.json using custom inference script"
I've added an audio classification wav2vec model.ckpt to the hub with custom inference script and hyperparams.yaml and would like that a Model Card and Hosted Inference API widget enables to inference that custom script on top of my model.

Hosted Inference API reads config.json and if the classificator is Speechbrain native class some other models are working as charm but when using a custom infe

[2022-04-19 13:04] mishig25 opened #108 "Missing `Text2Text generation` task"
Is one of them supposed to be `Text2text generation` task?

<img width="800" alt="Screenshot 2022-04-19 at 15 03 10" src="https://user-images.githubusercontent.com/11827707/164010380-23824705-2a60-4e32-b029-d6a01ca57b44.png">

[2022-04-19 13:08] osanseviero commented on #108
They are actually considered the same task for the purpose of the content, it was actually an accident of  a recent PR that made it show duplicated.

[2022-04-19 13:18] #108 closed

[2022-04-19 14:16] lhoestq commented on #100
Hi ! It simply counts every time `load_dataset` is called in python. The calls from the `datasets` CI on github are excluded.

Whether the dataset consists of a dataset script that download from somewhere else, or if it's made of CSV files on the Hub doesn't change the way it's counted.

However if you download some CSV from website or with `wget`, then this is counted as a download right now.

Ma

[2022-04-19 14:47] davanstrien commented on #100
@lhoestq, thanks for clarifying that. It would be great to document this, but this is helpful for now.

[2022-04-19 14:52] #50 closed

[2022-04-20 08:28] NielsRogge commented on #62
As said before, instead of writing titles such as:

[code]

It's much clearer to write:

[code]

etc.

[2022-04-20 08:31] osanseviero commented on #62
Copy paste from internal Slack discussion with @hollance

[code]

[2022-04-20 14:13] osanseviero commented on #107
SpeechBrain inference API is open sourced and implemented in https://github.com/huggingface/api-inference-community/blob/main/docker_images/speechbrain/app/pipelines/audio_classification.py. We use the default `hyperarams.yaml` file specified in https://github.com/speechbrain/speechbrain/blob/main/speechbrain/pretrained/interfaces.py#L276.

As per your error, you try to use the `EncoderWav2vecClas

[2022-04-22 01:29] NimaBoscarino commented on #62
I'm actually kind of curious, does anyone know if there's an SEO benefit to one of those styles over the other?

[2022-04-25 08:09] julien-c commented on #25
BTW (because this subject came up again recently), i remember trying to ping some DOI registrants last year and it looked very bureaucratically complex, TBH

Maybe at some point someone wants to give this another shot, but be aware this will probably be a long endeavour :)

[2022-04-25 12:11] davanstrien commented on #25
One possible stop-gap solution (mainly applicable to models) could be to create a GitHub Action that in response to a webhook (or on a schedule), downloads a snapshot of a repository and pushes it to a [Zenodo](https://zenodo.org/) repository via their API.

This would require manual setup for those wanting to use it but would be a route to getting a citable and versioned DOI for their model and h

[2022-04-25 15:46] cakiki commented on #25
Fantastic idea @davanstrien ! It would still require some organization and negotiation (zenodo limits uploads to 50GB I believe), but substantially less bureaucratic hassle I'm sure than dealing with registrars.

[2022-05-04 16:17] merveenoyan opened #131 "Inference widget consumes wrong mask token"
Hello 👋

I hope this is the right repository to open issue to. 🤞

[This model](https://huggingface.co/uw-madison/nystromformer-4096) takes [MASK] token (as seen in special_token_names.json) but mask token is taken as < mask > which makes widget fail.

[2022-05-04 16:56] osanseviero commented on #131
Hi there :wave: The mask token does not come from `special_token_names.json` afaik.

They can be:
* Specified in the metadata of the repo
* Automatically retrieved as seen in

[code]
Internal code https://github.com/huggingface/moon-landing/blob/93d758a5d5a23f97c7f0029520db347dd3ce0641/server/repo_types/ModelInfo.ts

cc @mishig25

[2022-05-04 17:35] julien-c commented on #131
very true sir!

[2022-05-06 10:09] fxmarty opened #133 "Search result order on the hub is counter-intuitive"
Hello,

**Is your feature request related to a problem? Please describe.**
The search results from the hub are sometimes irrelevant with respect to the query. For example below, the first relevant result is shown only on the 5th row.
![image](https://user-images.githubusercontent.com/9808326/167110857-f91636e4-8631-43d4-97ae-3fc269fd4753.png)

**Describe the solution you'd like**
Show results for

[2022-05-10 16:20] merveenoyan opened #137 "Discussion around tabular data related taxonomy"
I don’t know if it’s right place to discuss but I kinda have an objection for tabular tasks. I recently opened a PR to rename structured data classification to tabular classification, see [here](https://github.com/huggingface/api-inference-community/pull/48). If we will invest in this I don’t want to change the name of this pipeline for now or find something that covers regression as well (see bel

[2022-05-10 20:11] osanseviero commented on #137
Copy paste from internal discussions

[2022-05-10 20:28] osanseviero commented on #137
Adding @LysandreJik @sgugger @Narsil @abhishekkrthakur as doing this would impact all systems

TL;DR. Do we want to split `tabular-classification` into `tabular-classification` and `tabular-regression`?

Browsing from internal discussions from some months ago https://huggingface.slack.com/archives/C032RD1Q68L/p1647448299982259?thread_ts=1647353473.766889&cid=C032RD1Q68L, I think that's what we wan

[2022-05-10 21:05] sgugger commented on #137
If split `tabular-classification` into `tabular-classification` and `tabular-regression`, we should also split for `text-classification`, `speech-classification` and `image-classification` otherwise users will get lost. This is something that can't be done easily in Transformers for backward compatibility reasons, so you will then get something that is inconsistent across the ecosystem, at least u

[2022-05-10 21:49] julien-c commented on #137
I would advocate to split `tabular-classification` into `tabular-classification` and `tabular-regression`

I might be wrong but i feel like text/audio/image regression is fairly niche, whereas tabular regression like @merveenoyan is basically what you first learn about when starting ML

[2022-05-10 21:56] julien-c commented on #137
BTW the classification widget is not simply the most probable output class, but the distribution of class probabilities:

<img width="667" alt="image" src="https://user-images.githubusercontent.com/326577/167728182-45b196f4-748c-44de-9790-93d25bf2f054.png">

whereas the regression one would probably be just a number:

<img width="622" alt="image" src="https://user-images.githubusercontent.com/3265

[2022-05-10 21:59] julien-c commented on #137
(though i admit i'm not sure what the structured-data-classification widget was like, @osanseviero – on https://huggingface.co/osanseviero/wine-quality for instance – i think it was a "table" input and we performed inference on multiple rows and it filled the last column, no?)

[2022-05-11 07:49] osanseviero commented on #137
Yes, exactly. The widget was pre-filled thanks to https://huggingface.co/osanseviero/wine-quality/blob/main/README.md#L8, which means that model uploaders have an extra responsibility in adding the metadata to give a correct example. You can see an example (although not running) at https://huggingface-widgets.netlify.app/

[2022-05-11 07:54] Narsil commented on #137
Yes.

I do agree that `regression` vs `classification` is not as big of a difference as courses make them up to be.
`classification` semantically means we're interested in something like N (the set) and `regression` something like R, but to reach a decision, `classification` uses always a R  output with a threshold anyway (because gradients), even the widget shows that where our results for classi

[2022-05-11 08:52] fxmarty commented on #133
To follow up on this, looks like the search from the homepage is much more consistent:
![image](https://user-images.githubusercontent.com/9808326/167810243-fbe58d65-16df-48d4-8ed2-6bfdcac85ec7.png)

[2022-05-11 09:09] fxmarty opened #139 "Format model/dataset cards "a la wikipedia" (enlarge to the right)"
**Is your feature request related to a problem? Please describe.**
Currently, model/dataset cards README.md takes about only half the screen space after the sections "Hosted inference API", "Dataset used to train", "Spaces using", etc. See

![ex1](https://user-images.githubusercontent.com/9808326/167812828-47b75a65-8f70-4280-bebd-f222ccf94edd.png)

![ex2](https://user-images.githubusercontent.com/

[2022-05-11 09:41] julien-c commented on #139
tagging @gary149 for visibility

[2022-05-11 10:34] julien-c commented on #137
do you mean consistent across our stack of tools (i'm in favor) or consistent across modalities (i personally don't think we need to)

[2022-05-11 12:11] Narsil commented on #137
This one

[2022-05-11 12:17] merveenoyan commented on #137
At least we should have a general name that is not about classification (in regression you don't classify things you rather extrapolate to next thing or interpolate to things in between, you don't have class probabilities whatsoever because you don't have classes). It doesn't necessarily have to be splitted into two or anything else, but my concern is, I seriously didn't know that "structured data

[2022-05-11 16:55] cakiki opened #140 "Can't link to huggingface.co from Spaces"
### Describe the bug

Linking to any page (without a _blank target) on the huggingface.co domain leads to a "huggingface.co refused to connect." message.

### Reproduction

To reproduce: create a new static page and remove the target="_blank" from the already pre-populated anchor tag. (It's what I did here: https://huggingface.co/spaces/cakiki/test Try clicking on "Spaces documentation")

### Logs

[2022-05-11 17:01] osanseviero commented on #140
Seems same as https://github.com/huggingface/moon-landing/issues/2693

[2022-05-12 09:59] adrinjalali commented on #137
This to me is more a matter of DX rather than a technical one. If we want to serve more user persona, we should be meeting them where they are.

In NLP or image, people might not be doing much regression, but statistical modellers do.

As a developer of a model, I should be able to speak with the hub in the language that I'm comfortable with, and if that means I need to tell the hub that my model

[2022-05-12 10:06] githublsk opened #141 "Is layloutlmv3 support for SER and RE work for xfund dataset?"
Model description:
LayoutLMV3 is the successor of the LayoutLM models. I have a question that dose layoutlmv3 support for SER and RE work for xfund dataset?

[2022-05-12 11:39] sgugger commented on #137
Side note, given the number of questions on the forum asking how to multi-label classification or regression with text models, I don't think anyone can say that "no one in NLP is doing regression". Same for computer vision, this is a whole lesson of its own in the fastai course for instance.

[2022-05-12 12:06] Narsil commented on #137
100% agree, but fortunately we can definitely have multiple names for the same thing.
So we could 100% have a single pipeline (defined by I/O) and multiple tasks (specific naming of the pipeline containing information about what is the purpose of the pipeline). I put a section on vocabulary: https://www.notion.so/huggingface2/Pipelines-Guidelines-1de828d4e56e4adb886253440657e13a where I attempted

[2022-05-12 12:09] josephrocca opened #142 "Correct names and file extensions for files downloaded from Git LFS"
### Describe the bug

If you click this link:

https://huggingface.co/rocca/lit-web/resolve/main/debug/lit_savedmodel_no_params.tflite

Then it gets redirected to:

https://cdn-lfs.huggingface.co/repos/a0/c4/a0c439d274b0c84a548f2754956dc947d2eabc638b96ec10e9ac5196ac3eae22/24f474efae1d243c41287de37f0e40c21f810b6c0aecaf19dda7099241948d0f

Meaning that the filename of the downloaded file is:

24f474e

[2022-05-12 12:29] adrinjalali commented on #137
That's pretty much also what I was thinking.

[2022-05-12 12:36] julien-c commented on #142
@josephrocca this is currently being worked on internally!

[2022-05-12 13:15] merveenoyan commented on #137
I second this, so many people get confused over the names :)

[2022-05-12 17:19] gary149 commented on #139
Visually speaking I'm not sure it will work really well. If we really want to have more horizontal space we'll need to tweak the whole layout, it is something we'll keep in mind when re-working on it (not short-term).

[2022-05-14 12:15] julien-c commented on #142
should be fixed, reopen if not!

[2022-05-14 12:15] #142 closed

[2022-05-14 16:26] josephrocca commented on #142
Awesome! Love how fast you're moving.

[2022-05-18 08:24] fxmarty opened #148 "Add model search by "other""
**Is your feature request related to a problem? Please describe.**
Models can not currently be searched by "other" without playing manually with the URL. See https://huggingface.co/models on the "Other" filter.

**Describe the solution you'd like**
Like for tasks where we have a clickable button "+16 tasks" that then allows to "Search tags", it would be neat to have in the "Other" category somethi

[2022-05-18 13:21] osanseviero commented on #148
cc @gary149 @julien-c WDYT?

A challenge here is that there are thousands (and growing) number of other tags, so this could easily explode to being too many. I guess a search could work here, but the UX Might be strange.

Just FYI, the search experience is getting improved so this might be obsolete.

[2022-05-18 14:30] julien-c commented on #148
yes i think we could do this at some point. Not super high prio though

[2022-05-19 08:36] fxmarty opened #151 "Searching with ctrl+F for collapsed parameter or text is hard"
**Is your feature request related to a problem? Please describe.**
Sorry for creating many issues, they are by no means urgent, just nice to have.

When searching with ctrl+F for e.g. parameters that are collapsed in the doc (for example `problem_type` in https://huggingface.co/docs/transformers/main_classes/configuration), browsers (Firefox, Chromium) redirect to a place that is not relevant. I t

[2022-05-19 22:08] Lauler opened #154 "Download statistics only show last two weeks of downloads (periodically appearing bug)"
Hi!

The "Downloads last month" statistics for models on huggingface.co are occasionally affected by a bug where the download numbers for the first two weeks of the month are zeroed out for all models on the entire website. In other words: the "downloads last month" number only takes in to account the latter half of the month.

This seems to happen periodically (at least once a month). The faulty

[2022-05-20 07:51] osanseviero commented on #154
cc @julien-c @Pierrci

[2022-05-20 08:01] osanseviero commented on #151
Thanks for reporting! cc @mishig25 as this is really related to documentation. For documentation issues, we also have https://github.com/huggingface/doc-builder FYI, I'm transferring this issue

[2022-05-20 09:47] julien-c commented on #154
pinging @co42 on this! Do you have an idea Corentin?

[2022-05-20 09:54] co42 commented on #154
@julien-c My bad, fixing

[2022-05-20 11:03] co42 commented on #154
Fixed in prod.
PR : https://github.com/huggingface/moon-landing/pull/2988

[2022-05-20 11:14] Lauler commented on #154
The graphs look like normal again (how I remember them from before the bug).

However, all the "downloads last month" numbers were higher by a factor of 2 to 3 for our models a couple of days ago. Was there a change in how the numbers are tabulated @co42 ?

![image](https://user-images.githubusercontent.com/7157234/169516261-d52a6b7a-a710-46de-abfc-9764d6d60460.png)

Download numbers for all top 1

[2022-05-20 11:20] Lauler commented on #154
See archive.org Wayback machine from May 12th as reference:

https://web.archive.org/web/20220512124207/https://huggingface.co/models

![image](https://user-images.githubusercontent.com/7157234/169517411-9e19fb3e-95ed-4544-84f8-0a99b40e893a.png)

[2022-05-20 11:54] co42 commented on #154
@Lauler, the graph was fixed but not the total. It is now :)

[2022-05-20 12:05] Lauler commented on #154
Thank you! Much appreciated that you took the time to fix this issue.

It would be really nice if Huggingface could prioritize adding a feature to show historical download statistics for models further back than 1 month. Download numbers are very useful statistic to be able to show for many organizations when for example applying for grants, or for access to HPC resources.

[2022-05-20 12:49] osanseviero commented on #154
For internal reference, we have an internal issue for this https://github.com/huggingface/moon-landing/issues/1340

[2022-05-25 08:40] julien-c commented on #154
The fix was actually not deployed in prod, but it should be from today on. (cc @Pierrci )

Tentatively closing this again, reopen if still happens in the coming days =) =)

[2022-05-25 08:40] #154 closed

[2022-05-25 19:24] lbourdois commented on #32
@julien-c
I made my first feedback here: https://huggingface.co/spaces/huggingface/HuggingDiscussions/discussions/1

There is a point on which I wonder though.
To update the tags of the datasets, no problem, it is enough to open a PR bringing a modification to the README file.
However, to update the tags of the models, a PR on the README doesn't seem to be enough according to the feedback I've jus

[2022-05-26 12:07] osanseviero commented on #32
@lbourdois these model repos are automatically generated from a Stanford repository so in this case they need to fix the script that creates the repo

[2022-05-26 18:36] lbourdois commented on #32
Thank you @osanseviero for enlightening me

[2022-05-27 08:31] Zimix0 opened #159 "When searching for a model on huggingface, the tag does not work, and the keyword is matched only by the model name."
The current problem is described in the title. I hope that the tag can be matched when searching in the future. In this way, the name of the model can be simplified and the tag can be richer.

[2022-05-27 08:55] cakiki opened #158 "Highlight "Add User" button"
**Is your feature request related to a problem? Please describe.**
The `Add User` button blends in and is difficult to spot for people who don't know it exists.

**Describe the solution you'd like**
Moving the button next to the `Email link` button or perhaps a different color to highlight it?

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.git

[2022-05-27 11:42] Nana12345678910 commented on #140
Cards says code error

[2022-05-27 12:48] cakiki commented on #140
@Nana12345678910 If you're referring to the link Omar shared, it's a private repository.

[2022-05-28 16:49] osanseviero commented on #137
What's the final agreement on this discussion? Given it was a couple of weeks since it's start, it would be nice to reach some consensus since this implies changing a bunch of tags (but we now have PRs on the Hub! :fire:)

[2022-05-29 16:48] osanseviero commented on #159
cc @julien-c @gary149

[2022-05-30 09:38] gary149 commented on #158
Do users report it? it feels a bit weird to have that button in the join settings IMO.

[2022-05-30 10:43] julien-c commented on #137
consensus is let's split `tabular-classification` into `tabular-classification` and `tabular-regression` no?

[2022-05-30 13:01] osanseviero commented on #137
SG! @merveenoyan would you like to take a stab at the action items from https://github.com/huggingface/hub-docs/issues/137#issuecomment-1122829619?

[2022-05-31 15:16] merveenoyan commented on #137
Sure! @osanseviero

[2022-06-01 11:37] julien-c opened #164 "Research the need for a recommended YAML formatting convention for repo card metadata"
Just used this PR to create a automatic PR creation (70 PRs), see: https://huggingface.co/Helsinki-NLP/opus-mt-tc-big-zls-en/discussions/1

The code I used was pretty simple:

[code]

One small problem though is that the YAML layout was changed a bit unnecessarily (as you can see here: https://huggingface.co/Helsinki-NLP/opus-mt-tc-big-zls-en/discussions/1/files). Can we maybe make sure that we en

[2022-06-01 14:47] osanseviero commented on #32
Thank you for the contribution!! :fire: :fire:

[2022-06-01 15:22] julien-c commented on #164
- on Python side we use latest release of `pyyaml` and `yaml.dump(data, sort_keys=False, line_break=line_break)` where `line_break` is the line break detected from the file (when it exists before) defaulting to `\n`

[2022-06-01 20:56] #62 closed

[2022-06-02 09:40] osanseviero commented on #158
I agree it's a bit weird in join settings. WDYT next to Organization members?

![Screenshot from 2022-06-02 11-39-39](https://user-images.githubusercontent.com/7246357/171602292-47a3a9cb-3416-49c0-8178-fcbae13e4439.png)

[2022-06-03 14:49] merveenoyan opened #178 "Have default examples for Image task widgets"
We have default examples for text models, but not for images.
We can put a cat photo or two :)

[2022-06-03 18:32] lbourdois opened #179 "A HF Courses Portal"
Hi :)

As the name of the issue suggests, I think it would be interesting to have an educational/courses portal on the website.
What I mean by this is that when you click on the button circled in red in the image below, instead of referring you to the course, it would send you to a page (which I call "portal" here) that would summarise the various educational resources offered by Hugging Face.

![

[2022-06-06 09:50] julien-c commented on #179
Thanks for sharing, and wow, there's even a mockup!  Yes, this is something that we'll want to do at some point i think 👍

[2022-06-06 15:06] merveenoyan commented on #178
I'll add a couple for both Image and Audio to `DefaultWidget.ts` :)

[2022-06-09 07:27] mishig25 opened #190 "Disabe realtime ASR widget for non-transformers checkpoints"

[2022-06-09 11:46] coyotte508 opened #191 "Easier way to fetch/push PRs"
Current doc: https://huggingface.co/docs/hub/repositories-pull-requests-discussions#fetching-all-pull-requests-for-git-magicians

It could be easier with no need to edit the config manuallly:

[code]

![image](https://user-images.githubusercontent.com/342922/172838349-b302285e-b9de-4d1c-a51c-4ca1dff03587.png)

---

Another trick - but I don't think it needs to be included - is this:

[code]

This

[2022-06-09 16:02] lbourdois opened #193 "Issue about languages tags"
Hi,

A PR to discuss an issue raised in an exchange following a Hub PR : [https://huggingface.co/datasets/AmazonScience/massive](https://huggingface.co/datasets/AmazonScience/massive)/discussions/1  (cc @julien-c).

The author of the dataset (the logic described below also applies to models) has filled language tags in the form **"xx-XX"** (e.g. fr-FR). However, the filters on the Datasets page (h

[2022-06-09 16:08] lbourdois opened #194 "Redesign the Languages page"
Hi,

An issue that can be seen as a continuation of issue #193. The topics covered are related but in two different parts of the site and may not be covered simultaneously, so I preferred to split it up and open a second issue.

Assuming that we have a better referencing of the datasets and models on the criterion of language thanks to the issue #193, it seems relevant to me to redesign the Langua

[2022-06-09 16:50] lbourdois opened #195 "A "Not languages" tag section ?"
Hi,

Section 6 of Chapter 7 of the course ([https://huggingface.co/course/chapter7/6](https://huggingface.co/course/chapter7/6)) begins as follows:

The subject of this issue is what is in red in the text above:
![image](https://user-images.githubusercontent.com/58078086/172897961-5f3c3303-49b1-46d3-b859-c48cd2791bf3.png)

At the moment, I think it is quite complicated for a reader of the course t

[2022-06-10 07:24] julien-c commented on #194
cool, we'll take a look!

[2022-06-10 07:29] julien-c commented on #193
This is not strictly true if i remember correctly. See the original code at https://github.com/huggingface/widgets-server/blob/master/Language.ts

If I remember correctly, this list is a mix of ALL ISO 639-1, AND a subset of 639-2 or 639-3 codes that were in the original Helsinki-NLP models

[2022-06-13 18:04] seduerr91 opened #198 "Flagging in Gradio on HF Spaces"
**Is your feature request related to a problem? Please describe.**
When I host a local Gradio app, my colleagues can give me feedback on my model. This works with flagging the model outputs if I share ('share=True') the Gradio App, and define "flagging_options=['good', 'okay', 'bad']".
(Please find exemplary [code](https://github.com/seduerr91/pdf-eqa/blob/main/neural_search_gradio.ipynb) here; se

[2022-06-21 08:44] osanseviero commented on #38
The pipeline is now here, so we can add this to the inference API + a widget for it (cc @mishig25). WDYT?

[2022-06-21 13:11] osanseviero opened #204 "Add docs for sb3 integration"
Hey @simoninithomas, it would be cool if we could add documentation on how to download/push sb3 models at https://huggingface.co/docs/hub/models-libraries as done for other libraries

[2022-06-21 13:12] osanseviero opened #205 "Add docs for flair integration"
cc @NielsRogge

[2022-06-23 07:00] simoninithomas commented on #204
https://github.com/huggingface/hub-docs/pull/207

[2022-06-27 07:39] osanseviero opened #212 "Remove real-time speech recognition from models that don't support it"
We should remove the real-time speech recognition or show a better warning for models that don't support it, such as all community libraries
cc @mishig25
https://huggingface.slack.com/archives/C01RW4B4VCH/p1656283532862179

[2022-06-27 13:11] mishig25 commented on #212
closed by #215

[2022-06-27 13:11] #212 closed

[2022-06-27 13:12] mishig25 commented on #190
closed by https://github.com/huggingface/hub-docs/pull/215

[2022-06-27 13:12] #190 closed

[2022-06-27 15:14] simoninithomas commented on #204
I'm closing it 🥳

[2022-06-28 05:33] snakers4 opened #216 "Silero Models License Infringement"
Hi,

My name is Alexander, I am writing to you on behalf of Silero, a company maintaining our project [silero-models](https://github.com/snakers4/silero-models).
We noticed that one of our models is hosted here - https://huggingface.co/spaces/pytorch/silero_tts.
We did not explicitly grant Hugging Face, Inc. any sort of permission to rehost, relicense and profit from our work and models.
Moreover

[2022-06-28 08:57] julien-c commented on #216
Hi @snakers4,

Thanks again for your report, we've taken a look promptly.

We've added an explicit mention about the CC-BY-NC-SA license in the Gradio interface, see [this commit](https://huggingface.co/spaces/pytorch/silero_tts/commit/dbc0f22e938c3f9a2eb445c1fefdc1edf501ca3e)

<img width="1618" alt="image" src="https://user-images.githubusercontent.com/326577/176138099-dd48884a-8db6-4c19-b75b-f04

[2022-06-28 10:00] snakers4 commented on #216
Hi @julien-c ,

Please do.
Many thanks.

Best,
Alex

[2022-06-29 14:06] julien-c commented on #216
Hi @snakers4, we deleted the Spaces

Ping us if we can help in any way in the future!

[2022-06-30 05:19] Zimix0 commented on #159
excuse me？

[2022-07-04 09:27] lhoestq opened #222 "Dataset cards: missing template for the YAML tags"
On this page I think it would be nice to have a template of the YAML tags users can add to their dataset cards:
https://huggingface.co/docs/hub/datasets-cards

Overall the page feels empty compared to the one for models ^^'

The full list of supported tags is currently this one:
[code]

Maybe @stevhliu or @NimaBoscarino can help with this ?

EDIT: added str to license

[2022-07-04 09:29] julien-c commented on #222
❤️ ❤️

note that on Hub side `license:` can be `str` or `List[str]` so i'd recommend documenting the same

[2022-07-04 19:18] NimaBoscarino commented on #222
Sounds great to me! I can help with this later this week :)

[2022-07-08 10:38] mishig25 opened #229 "TextWidgetArea writing as a human is styled as a code"
followup to https://github.com/huggingface/hub-docs/pull/214

[2022-07-13 16:13] merveenoyan opened #244 "Add a section to documentation for task types"
[This permalink](https://github.com/huggingface/hub-docs/blob/d06c9b875669fe032e8f4675856c140ce78798df/js/src/lib/interfaces/Types.ts#L589) contains the available task keys.
Every time we want to refer to list of available task in the documentation, we refer to that in our own docstrings or anywhere else. I find it unpleasant, is it okay if we could put available task strings inside our own docs s

[2022-07-13 20:53] osanseviero commented on #244
WDYT @julien-c? I think this makes sense.

It has the huge asterisk that we need to either raise some error or really make sure to avoid being out-of-sync. We went from multiple sources of truth to a single one, so I'm a bit worried of again creating the task types in another place.

[2022-07-13 23:03] hichemfantar opened #245 "CSS bug: tasks section gets cut in home page on smaller screens"
Tasks section clearly get cut on smaller screens with no way to scroll through it horizontally.
![image](https://user-images.githubusercontent.com/34947993/178851376-37df93e9-797b-4371-9b9e-62fbdbf3a3f5.png)

[2022-07-14 08:13] osanseviero commented on #245
cc @gary149 @beurkinger

[2022-07-14 13:02] merveenoyan commented on #244
@osanseviero we could have a section in hub-docs and if someone wants to add a task we can let them add it there as well (and also modify the section for ["Adding a task"](https://huggingface.co/docs/hub/models-tasks) in our docs). Maybe we could add the task keys in [here](https://huggingface.co/docs/hub/models-tasks#whats-a-task). Do you want me to deal with this?

[2022-07-17 18:12] Baicheng-MiQ opened #248 "Link at https://huggingface.co/docs/transformers/performance#cpu is invalid"
As title described, the link https://huggingface.co/docs/transformers/perf_infer_cpu.mdx is invalid.

[2022-07-18 08:03] NimaBoscarino commented on #248
Good catch! I think this was a mistake in the docs over on the https://github.com/huggingface/transformers repo, but it seems like it's been fixed in the pre-release version of the docs. You can verify it by choosing "Main" instead of "V4.20.1" here:
<img width="492" alt="image" src="https://user-images.githubusercontent.com/6765188/179468739-0e47bf5d-dad5-42b3-aff8-9bfccca125c9.png">

With the ne

[2022-07-18 08:03] #248 closed

[2022-07-18 12:48] hichemfantar commented on #245
@gary149 tested on windows and android, chrome v103
![Screenshot_20220718-134705.jpg](https://user-images.githubusercontent.com/34947993/179514594-73a10de3-cd33-46bc-8579-b647e0cfa3a7.jpg)

[2022-07-18 12:51] gary149 commented on #245
Oh yes sorry I missed the screenshot, it's not supposed to be scrollable here :)

[2022-07-18 13:19] hichemfantar commented on #245
Fixed by making the list vertical.
Changed this `class="flex space-x-2 -ml-16 md:-ml-0"`
to this `class="flex flex-wrap justify-center space-x-2 -ml-0 md:-ml-0"`
![image](https://user-images.githubusercontent.com/34947993/179518832-9ddf6dc6-04b2-4958-ab64-158754112006.png)
![image](https://user-images.githubusercontent.com/34947993/179520008-814f19ee-001e-480e-8730-97f65f31596a.png)

[2022-07-19 10:02] julien-c commented on #244
I didn't understand this issue very clearly.

Is the issue that we don't display the "canonical" list of tasks enough on the website? If it's this issue, then yes your proposal of dynamically adding this (full) list to https://huggingface.co/docs/hub/models-tasks#whats-a-task but also to https://huggingface.co/tasks (which should always display all existing tasks, IMO) is good

But yeah as Omar sa

[2022-07-20 11:58] Muhammad-Ahmad-Ghani opened #252 "BLOOM model mentioned in hub-docs"
<h3>The model mentioned in Hugging-face hub is actually 176B parameters model by BLOOM. But written as 175B</h3>

![image](https://user-images.githubusercontent.com/63394104/179976308-46ecf0d0-41b8-44e8-bc19-c6c1d60d2969.png)

[2022-07-20 12:29] osanseviero commented on #252
Hey there! From which place is this screenshot?

[2022-07-20 13:26] julien-c commented on #252
do you want to open a PR to fix that, @Muhammad-Ahmad-Ghani? it's in the /docs folder in https://github.com/huggingface/transformers

[2022-07-20 15:51] lbourdois commented on #193
The AI Coffee Break with Letitia video (https://www.youtube.com/watch?v=1gHUiNLYa20) made me realise that I had missed the Bapna & Caswell et al. paper from Google "Building Machine Translation Systems For The Next Thousand Languages" ((https://arxiv.org/abs/2205.03983). It lists from page 57 to 77, over 1000 languages using the BCP-47 code. Wouldn't it be interesting to use this code in addition

[2022-07-20 17:01] julien-c commented on #193
Hi @lbourdois!

Quick notes:
- we do want to deliberately limit the number of potential standards that we "accept", because we want to be able to filter models or datasets and otherwise it's very hard to do a good UX around this
- to that effect, we are now (or will soon be) validating the use of `ISO 639-x` inside `language` metadata (for both models and datasets – models are already shipped and

[2022-07-20 19:53] NimaBoscarino opened #253 "Highlight more 3rd party integrations, including datasets"
As per these [Slack messages](https://huggingface.slack.com/archives/C03969VA7NK/p1657833574593559)

i.e. we shouldn't promote "just" model library integrations but all kind of integrations"

Starting with a page for datasets integrations would be good, and then we can expand to other things as well.

[2022-07-21 06:25] josephrocca opened #256 "Modality/task agnostic models in AutoTrain (tokens/embeddings in, tokens/embeddings out)"
(Apologies if this is not the correct place for a feature request like this. In that case, please advise on the appropriate channel. Thanks!)

---

**Is your feature request related to a problem? Please describe.**
For the last few years I've been improving my web businesses by integrating ML models in various places to add features, reduce moderation labor, and so on. But a big problem that I oft

[2022-07-21 21:24] osanseviero commented on #256
FYI I transferred the issue to the corresponding repo

[2022-07-22 15:15] lbourdois commented on #193
Hi @julien-c

What you say makes complete sense and your last sentence is I think the most coherent and simple method.

Nevertheless, is it planned to have a place to submit a code for a language that would not be taken into account by the `ISO-639-X` format?
To take French-speaking languages, Gallo (https://en.wikipedia.org/wiki/Gallo_language) which is spoken in Brittany does not have an `ISO-63

[2022-07-23 07:47] #252 closed

[2022-07-23 16:23] osanseviero commented on #193
cc @lhoestq for visibility.

In an ideal world I think this would be great, but from my experience most people will not search within an existing list :smile:. In any case, I think we could have an open discussion in a repo in which anyone could request us to add new languages and sure, we could keep https://hf.co/languages updated with it. Note we should probably do a nice revamp of https://hf.co

[2022-07-25 09:07] BramVanroy opened #257 "Sort filter options alphabetically"
The filtering options on the model and dataset pages are still growing which is awesome! For instance, on the model hub, especially the tasks and languages are getting a lot of options. However, with great options comes great responsibility - it becomes harder and harder to find the task/language/license/... that you are interested in.

I have two suggestions, one easier to implement than the othe

[2022-07-25 09:12] BramVanroy opened #258 "Make the filter *less* fuzzy or rank exact matches higher"
On the model hub page, we can easily search for specific models. It seems that this filter has been created for maximal usability - trying to protect users from accidental typos. In other words, some fuzzy matching seems to be going on behind the scenes. However, this can have adverse side effects.

A prominent example is that there is a "[robbert](https://huggingface.co/pdelobelle/robBERT-base)"

[2022-07-25 09:14] osanseviero commented on #257
cc @gary149 @julien-c on this

Note that the search experience will be having some changes in the incoming months :)

[2022-07-25 10:59] lbourdois commented on #193
![image](https://user-images.githubusercontent.com/58078086/180761117-99a525e0-4bfb-4173-82d1-8625dc42342b.png)

Concerning this point @osanseviero, I had opened a PR (https://github.com/huggingface/hub-docs/issues/194) at the same time as this one to put forward this idea (I had separated the two to have on one side the backend and on the other the frontend that could be implemented on a differen

[2022-07-25 11:07] lbourdois commented on #194
As mentioned in #193, documentation could be added on this page as well.

What seems minimalist to me would be to indicate which choices have been retained for the ISO codes, a link to a place where to propose a code for a language which would not be taken into account by the ISO codes and why not indicate how the numbers of models and datasets which are displayed are counted (the models take into

[2022-07-25 11:11] julien-c commented on #258
Could potentially be solved by (⚠️  internal tracker) https://github.com/huggingface/moon-landing/pull/2964

[2022-07-25 16:28] stevhliu commented on #222
Closed by #254 :)

[2022-07-25 16:28] #222 closed

[2022-07-26 07:29] cceyda opened #259 "user info for git commits made in the hub"
**Is your feature request related to a problem? Please describe.**
When you create a model/dataset/space etc in the hub, or when you modify files,
the git commits use the email you registered to the hub as your author email.
to check: Just make a commit in the hub -> git pull -> git log.

This can be a privacy/security problem.
Also makes it hard to mirror hub repos to github, as github throws sec

[2022-07-26 08:39] julien-c commented on #259
cc @SBrandeis

[2022-07-26 08:42] julien-c commented on #259
For clarity @cceyda, which email address do you usually use in git command line? (presumably, you use a noreply one?)

[2022-07-26 08:43] cceyda commented on #259
yes I use the noreply address given by github

[2022-07-26 08:46] julien-c commented on #259
Ok so when pushing from git command line to huggingface you can similarly use `your_username@users.noreply.huggingface.co` (and your commits will still be linked to your profile)

But it's not currently using that email address for commits generated from the website.

Also, it breaks the linking if you ever change your username

[2022-07-26 09:24] cceyda commented on #259
I remember commit link breakage also happens on github if you change username. so 'your_username@users.noreply.huggingface.co' solution feels fine to me

[2022-07-26 10:39] julien-c commented on #259
i think it used to break (on GitHub) but not anymore as they include your user (numeric) id now in the email

@abhishekkrthakur was affected by this BTW if i remember correctly

[2022-07-26 11:16] cceyda commented on #259
thinking more about it `users.noreply.huggingface.co` addresses would also be un-linkable to the github accounts in case of mirroring etc. so maybe using a `for commits only email address` is the solution here.
Allowing users to specify which address they want to use in their commits on the hub.

[2022-07-26 11:23] abhishekkrthakur commented on #259
fwiw, i ended up reverting my username :D

[2022-07-26 11:27] julien-c commented on #259
(i would tend to tag this as low-priority as not many members have reported this use case)

[2022-07-26 13:03] mishig25 opened #260 "Widget should show warning from api-inference"
Widget should show warning from api-inference
[see this line](https://github.com/huggingface/api-inference-community/blob/df441e6d93ed3b068da9b894207234e9640aba78/api_inference_community/routes.py#L87) for example

[2022-07-26 13:29] adrinjalali commented on #260
also cc @Narsil

This would make it easier for developers of the models to make sure they have the right setup on the repo. On the sklearn side of api-inference-community, we can relay the warnings for users to see potential issues.

[2022-07-26 15:35] julien-c commented on #193
Note that after yet another round of discussion, we think we are also going to support an optional `language_bcp47` which will be a array of string containing BCP 47 codes 🤯

They won't be exposed for filtering (at least in the short term) but at least we can now support the full BCP 47 codes in metadata if model/datasets authors have them

[2022-07-26 16:06] merveenoyan commented on #137
Closing this as everything's done.

[2022-07-26 16:06] #137 closed

[2022-07-27 07:10] Narsil commented on #260
Mishig the warnings are sent along errors `{"error": "Unknown error", "warnings": ["warning1", "warning2"]}`.

 The warnings are usually not the root cause of the error (which we might show or not depending for if it's a controlled error or not). But very often (in `transformers` at least) the warnings give a good signal on what went wrong (like sequence is too long)
i

[2022-07-27 08:07] NielsRogge commented on #16
cc @mishig25

[2022-07-27 09:39] SBrandeis opened #262 "Update the Hub API reference"
The API endpoints table (https://huggingface.co/docs/hub/api) is a bit outdated.

(It's missing all the discussions endpoints for examples)

cc @osanseviero

[2022-07-27 09:49] SBrandeis commented on #262
cc @Wauplin

[2022-07-27 09:52] coyotte508 commented on #262
I plan to do the doc for the commit endpoint once https://github.com/huggingface/moon-landing/pull/3528 is done

[2022-07-27 09:55] julien-c commented on #262
aka. the `infamous #3528`

[2022-07-27 09:56] coyotte508 commented on #262
Ahah it was ready for a moment but then I refactored it for more performance and need to fix it

[2022-07-27 10:56] hichemfantar commented on #245
Any movement on this? The solution I provided works on all screen sizes and It's one simple line.

[2022-07-28 08:58] mishig25 commented on #16
closed by https://github.com/huggingface/hub-docs/pull/263

[2022-07-28 08:58] #16 closed

[2022-07-28 11:56] coyotte508 opened #264 "Add docs about library name"
cc @osanseviero @philschmid @julien-c

There is no `library_name` mentioned in https://huggingface.co/docs/hub/models-cards

The library name is added to the tags of the model on the hub. It's determined as such:

1. The user can force `library_name` in the model card
2. If one of the tags in the model card already is a library name, then do nothing
3. We try to autodetect based on the presence of

[2022-07-28 13:18] osanseviero commented on #264
Totally! I can take this one :)

[2022-07-29 11:40] gary149 commented on #245
The idea of this homepage section is to tell users about the [tasks page](https://huggingface.co/tasks). It's not meant to be an exhaustive list of available tasks. It should not take more vertical space than it does today, maybe we could add a horizontal scroll to it but I'm not even sure it's necessary.

[2022-07-29 13:12] hichemfantar commented on #245
The vertical list doesn't take up much space.
As you can see below, it all fits inside the viewport.
![image](https://user-images.githubusercontent.com/34947993/181767850-fab5567b-5848-444e-9bc4-162dfdd2fa97.png)

[2022-07-30 09:36] josephrocca commented on #256
Regarding efficacy of domain-agnostic models: https://arxiv.org/abs/2112.03243 => putting the inductive biases (in their case: "cameras, projective ray incidence and epipolar geometry") in the input rather than in the model architecture (Perciever IO in that paper) produced results that were competitive with bespoke models.

[2022-07-30 15:50] Muennighoff opened #267 "Compare multiple tensorboards"
It'd be nice if you could select multiple models uploaded to the Hub and compare their tensorboards 😇
Albeit there's an easy workaround by just uploading the logs in the same repo.

[2022-08-02 17:15] gary149 commented on #245
Might add all the available tasks + horizontal scroll in a future update. Thanks for your feedback 👍

[2022-08-02 17:15] #245 closed

[2022-08-04 08:10] osanseviero opened #275 "Tracking integration for Video Classification"
## Tracking integration of task - Video Classification

Example discussion - https://huggingface.co/keras-io/video-transformers/discussions/1#62e9694f1ee086f609b4a500

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:

[2022-08-05 12:13] #264 closed

[2022-08-08 17:24] lbourdois commented on #193
Hi @julien-c
When trying to add the languages to the https://huggingface.co/facebook/wav2vec2-xls-r-2b model (same logic for the 1B and 300M size models), I got the following warning:
![image](https://user-images.githubusercontent.com/58078086/183476672-d489f1ad-ad66-49eb-afa7-ca6b664e0f6c.png)

What is the procedure in this case? Is it ok to indicate for example zh-HK by zh-hk?

The ISO codes tha

[2022-08-09 08:40] julien-c commented on #193
`zh-HK` is not a valid `ISO 639-1, -2, or -3` code, but you can list it in `language_bcp47`:

[code]

[2022-08-10 07:53] julien-c commented on #25
maybe we could try again to see how to provide DOIs directly now. (I feel like syncing to Zenodo is a bit less elegant and depending on dataset size not sure how well it will work)

Will try to sync up with the https://datacite.org/ team in the coming weeks

[2022-08-10 08:00] julien-c commented on #25
@cakiki would you want to participate to a call with them?

[2022-08-10 08:05] cakiki commented on #25
@julien-c I would love to; thank you for including me!

Another thing to try would be to reach out to Kaggle and ask about their experience. They also had it [requested by users](https://www.kaggle.com/general/49445) before they added the [DOI feature](https://www.kaggle.com/product-feedback/108594) to datasets.

[2022-08-10 08:51] fxmarty opened #279 "Copy/pasting code from the documentation inserts spaces between every line"
## Bug
When pasting code copied from the documentation, spaces are inserted between every lines.

## Request
No space insertion.

## Reproduction
Go to https://huggingface.co/docs/transformers/tasks/sequence_classification#train , and copy paste the code section after "Call train() to fine-tune your model.".

When pasting, you obtain:

[code]

## System
* Linux huggingface 5.15.0-43-generic 46-Ubu

[2022-08-10 10:03] mishig25 commented on #279
not producing on my end

[2022-08-10 11:14] fxmarty commented on #279
For me you have to manually select the code and copy, not click on the copy button for the spaces to be inserted.

[2022-08-10 15:59] lbourdois commented on #193
I did this and it worked fine for the YAML Metadata Error.
However, it seems that the languages indicated in `language_bcp47` are not taken into account by the Hub. Is this normal because it is not yet implemented or is it an anomaly?

Two observations lead me to believe that:
1) for the model [wav2vec2-xls-r-2b](https://huggingface.co/facebook/wav2vec2-xls-r-2b/discussions/1#62f3681e4965a45250ff5

[2022-08-10 16:00] yoshitomo-matsubara commented on #25
@julien-c @cakiki
I'm here just to say thank you (including those involving [this thread)](https://twitter.com/yoshitomo_cs/status/1556989422079336449) for revisiting this issue
Providing DOIs directly (upon request? like Kaggle does) sounds like a great idea!

[2022-08-11 09:42] BramVanroy opened #280 "Code strings in dark theme gradio not readable"
This is a small styling issue. When using a dark theme, inline `code` is not readable in the gradio Spaces. As an example, you can look at [SacreBLEU](https://huggingface.co/spaces/evaluate-metric/sacrebleu) where there's a readability issue in the metric description.

![code string with dark theme](https://user-images.githubusercontent.com/2779410/184106220-dbb39dbd-828a-4aae-8add-f3365fc78b35.pn

[2022-08-11 14:20] julien-c commented on #193
Yes, for hub *filtering*, only `language` (so `ISO 639-1, -2, or -3`) is supported.

We could *display* the `language_bcp47` codes on the page, but for filtering, it would kinda defeat the standardization goal because then models with `en-UK` wouldn't appear when filtering for `en`, etc

[2022-08-12 14:21] adrinjalali commented on #260
Example of one where would it useful to see warnings:

https://huggingface.co/julien-c/skops-digits

Now that we have skops release, it'd be nice to have this in :)

[2022-08-14 17:20] cakiki opened #281 "[License request] CC-BY-NC-SA 2.0"
I wasn't sure where to open this issue, so I opened here since that's where license information is listed.

A particular dataset I was adding is licensed `cc-by-nc-sa-2.0` but using this in the README returns a `YAML Metadata error`.

[2022-08-18 16:04] osanseviero commented on #280
cc @abidlabs as it's more of a Gradio issue afaik

[2022-08-19 11:11] BramVanroy commented on #280
Related issue, for prosperity: https://github.com/gradio-app/gradio/issues/1746

[2022-08-19 11:11] #280 closed

[2022-08-22 20:40] osanseviero commented on #281
Feel free to open a PR to add it to https://github.com/huggingface/hub-docs/blob/main/docs/hub/repositories-licenses.md. I will do the corresponding PR internally.

[2022-08-24 10:48] julien-c commented on #25
Ok we're now officially working on this 🔥

No ETA yet but it seems to be not-super-hard to do =)

On a related subject we can embed a "How to cite" button to those model or dataset repos where the authors will have generated a DOI. Supporting the full https://citation-file-format.github.io/about/ citation file format is maybe a bit overkill for now, so I was thinking to maybe just generate BibTeX

[2022-08-24 12:04] BramVanroy commented on #25
This is awesome! Very glad to hear it. Will it take commit/tag into consideration, or just one DOI per repo for now? (Which is also already awesome!)

Bibtex should be a good start (there are plenty of online bibtext-to-X converters). However, I do notice that Github seems to provide both the Bibtex and APA. E.g., on [transformers](https://github.com/huggingface/transformers) on the sidebar, when

[2022-08-24 16:01] yoshitomo-matsubara commented on #25
I'm so glad to hear the update! 🙏
+1 for bibtex and +1 for citation UX like those @cakiki mentioned :)

[2022-08-24 20:44] Ahleroy commented on #25
+1 for Bibtex.
Zbib.org is a great example of easy-to-use ref export. They offer  Copy / Download buttons and RIS / Bibtex exports.
https://zbib.org/

@julien-c I would be happy to have a chat to discuss how I can contribute to this feature.

Alix

[2022-08-25 08:18] #281 closed

[2022-08-31 18:16] BramVanroy commented on #280
@osanseviero I think this was fixed on gradio's side although I am not sure if it is 100% fixed; the issue is closed but @aliabid94 mentions that he'll polish dark mode this week. So maybe it is best to wait a little longer.

I any case, if this is fixed, it would seem that all gradio apps (at least the official ones) will need a gradio version bump in their config file.

[2022-08-31 22:24] ankrgyl opened #347 "Tesseract 5 in Spaces"
### Feature request

Would it be possible to support Tesseract 5 in Spaces? It represents a major improvement over 4 in terms of accuracy and is useful for demos. As far as I can tell, in the version of Debian that Spaces uses, it would require [adding to the sources list](https://techviewleo.com/install-and-use-tesseract-ocr-on-debian/).

### Motivation

Tesseract 5 is more accurate than 4, and u

[2022-09-07 13:32] osanseviero commented on #280
I don't think doing a Gradio upgrade to all Spaces is straightforward, as there are some backwards compatibility issues.

I agree we should likely do it for the official ones (cc @abidlabs @AK391 @aliabd @julien-c)

[2022-09-08 15:19] osanseviero opened #299 "Tracking integration for Document QA"
## Tracking integration of task - **name of task**

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Adde

[2022-09-08 15:24] ankrgyl commented on #299
Happy to take this task.

[2022-09-08 21:31] ankrgyl commented on #299
@osanseviero I started working on the widget, and got an error that there is no hosted inference API for document-question-answering available yet. Is that something that has to be deployed (https://github.com/huggingface/transformers/commit/2ef774211733f0acf8d3415f9284c49ef219e991 is the commit that adds it).

[2022-09-08 21:36] ankrgyl commented on #299
Oh I just saw @NielsRogge's comment on https://github.com/huggingface/transformers/issues/18926. Looks like @Narsil needs to enable the inference API.

[2022-09-09 07:13] osanseviero commented on #299
Yes, we'll need to wait for Narsil :)

[2022-09-15 08:18] osbm opened #304 "Dark theme color issue"
Hello, amazing :hugs: people. [This page](https://huggingface.co/docs/transformers/index#supported-frameworks) has a dark mode font coloring issue. Dataframe titles are not visible. I am using chrome 103.0.5060.134 on manjaro linux if that helps. Stay safe

![image](https://user-images.githubusercontent.com/74963545/190352043-64de03e9-d1b7-46f8-9faf-86c96e9b95be.png)

[2022-09-15 14:40] #304 closed

[2022-09-15 14:41] krampstudio commented on #304
@osbm This should be fixed with the next deployment

[2022-09-15 14:47] osbm commented on #304
Wow you guys are fast.

[2022-09-17 15:03] matthewfranglen opened #313 "The Optimum Quickstart does not work with Optimum 1.4.0"
**Is your feature request related to a problem? Please describe.**

The quickstart page is [here](https://huggingface.co/docs/optimum/main/en/quickstart). The code that it provides does not work with Optimum 1.4.0 and as such I do not have a clear idea of how to use the library.

The quickstart page has three code blocks. The first one converts the model to ONNX and runs without error:

[code]

Th

[2022-09-17 17:20] matthewfranglen commented on #313
The `ORTQuantizer.from_pretrained` works if passed the folder (`save_directory`). Then it fails because:

[code]

[2022-09-17 17:23] matthewfranglen commented on #313
Changing the quantizer.export method call to quantize as in:
[code]
Works and might be equivalent? It produces a `model_quantized.onnx` in that folder.

[2022-09-17 17:25] matthewfranglen commented on #313
After doing this the final cell works if you change the `file_name` to match what was produced:

[code]

The results are `[{'label': 'POSITIVE', 'score': 0.9996811151504517}]`

[2022-09-19 16:30] matthewfranglen commented on #313
The static quantization section refers to a `preprocess_fn` which is not defined on the page:

[code]

[2022-09-19 16:45] lewtun commented on #313
Thanks a lot for sharing this detailed feedback @matthewfranglen - this is really helpful!

We're currently working on overhauling the docs, so fixing the quickstart will be number 1 priority this week :)

[2022-09-19 16:46] matthewfranglen commented on #313
I'm glad to hear that. The library seems really great so far. I was hoping that these notes would be helpful so I'll continue updating them as I go.

[2022-09-20 14:42] nbqu opened #317 "Sub category link doesn't work on safari"
![issue_on_safari](https://user-images.githubusercontent.com/31720981/191286744-ee5ee47d-0da3-45ef-86b1-3103b0dcabf7.gif)
Hi, while I'm using official document page, I think the sub-category links on the right side doesn't work on safari, whereas it does work well on Chromium based browsers.
Specifically, clicking sub-titles always brings me to the top of the page.
Is this happens to only me or is

[2022-09-20 15:12] #313 closed

[2022-09-21 10:20] osanseviero commented on #317
cc @mishig25

[2022-09-21 18:08] osanseviero commented on #299
This is now deployed, so closing as it's fixed!

[2022-09-21 18:08] #299 closed

[2022-09-21 18:09] NielsRogge commented on #275
Would be great to add basic UI elements for it, as we now have video models as seen here: https://huggingface.co/models?other=video-classification

[2022-09-21 18:32] osanseviero commented on #275
cc @NimaBoscarino or @nateraw would any of you be interested in working on this? This corresponds to the UI elements section at https://huggingface.co/docs/hub/models-tasks#ui-elements

[2022-09-21 22:50] NimaBoscarino commented on #317
Linking this issue, since this is a problem across any of the documentation built with doc-builder: https://github.com/huggingface/doc-builder/issues/259

[2022-09-22 08:47] erickrf opened #323 "Documentation for TrainingArguments parameters not showing"
The documentation for the [TrainingArguments constructor](https://huggingface.co/docs/transformers/main/en/main_classes/trainer#transformers.TrainingArguments) parameters is not being compiled. It seems I have to check the code for their description.

[2022-09-22 17:17] osanseviero commented on #323
cc @sgugger @mishig25 on this topic

[2022-09-26 16:47] matthewfranglen opened #328 "Optimum Intel Quickstart is missing a lot of code"
**Is your feature request related to a problem? Please describe.**
I have been trying out the different parts of the Optimum library. I have made it to the [Optimum Intel Quickstart](https://huggingface.co/docs/optimum/main/en/intel_quickstart) and the Neural Compression section is missing a lot of code.

The code in the section is in two blocks. The first is:

[code]

This is missing definitions

[2022-09-27 10:22] #328 closed

[2022-09-27 20:03] matthewfranglen commented on #328
I understand your concern. Thank you for addressing the issue so quickly.

[2022-09-28 09:33] mishig25 commented on #260
Continuing the discussion at https://github.com/huggingface/api-inference-community/issues/96#issuecomment-1260642472

[2022-09-28 15:40] sneedgers opened #336 "Editing a TXT file. Result in a Python view???"
### Describe the bug

Edit a TXT file, it will show as a python code?
which is funny

### Reproduction

![image](https://user-images.githubusercontent.com/107140768/192823656-6fd20b06-ef88-4d79-b9d7-3ac6596e6225.png)
image is self explanetory lol

### Logs

[code]

### System Info

[code]

[2022-09-28 15:50] Wauplin commented on #336
I moved the issue to this repo as it is not `huggingface_hub` related.
@sneedgers you would prefer no linting at all I presume ?

[2022-09-30 07:05] osanseviero commented on #336
There is an internal issue on this at https://github.com/huggingface/moon-landing/issues/3489 (cc @gary149 @beurkinger )

[2022-09-30 12:19] BramVanroy opened #343 "Streamlit space iFrame incorrect height"
### Describe the bug

I notice that [one of my spaces](https://huggingface.co/spaces/BramVanroy/mateo-demo) has a lot of vertical white-space at the bottom of the page. This does not occur when I run the app locally. The culprit seems to be the iframe that contains the app, which has some inline styling set `overflow: hidden; height: 5643px;`. Something seems to go wrong in calculating that height

[2022-09-30 12:30] osanseviero commented on #343
I can reproduce - internal bug from some time ago https://github.com/huggingface/moon-landing/issues/1930

Same in https://huggingface.co/spaces/open-source-metrics/models-explorer

[2022-10-01 08:22] BramVanroy opened #345 "Allow for streamlit styling"
In streamlit, we can do some (very) basic styling through the [config](https://docs.streamlit.io/library/advanced-features/configuration#theming) system. In short, we can add a `.streamlit/config.toml` file to our app that contains colors and base themes.

From what I tested, this does not work on the HF Spaces on an app that _does_ display the styling locally. Tested with streamlit 1.10.0.

[2022-10-01 21:02] gwern opened #346 "Better page thumbnails: use first image by default"
Hub pages should provide better image thumbnails for use in previews on social media websites like Twitter or Reddit. This can be done by a user-configurable setting, and by a heuristic of using the first image in a model/project README as the default image thumbnail.

---

A concrete example: Stable Diffusion models are very hot image generative models now, and there are ever more finetuned model

[2022-10-03 12:50] osanseviero commented on #345
At the moment we don't support specifying a `config.toml`

Cc @cbensimon

[2022-10-04 20:02] merveenoyan opened #351 "Zero Shot Image Classification Task Page"
This is the tracker for completion of task page for zero-shot-image-classification task. The page is here: https://huggingface.co/tasks/zero-shot-image-classification You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of it

[2022-10-04 20:04] merveenoyan opened #352 "Image-to-Text Task Page"
This is the tracker for completion of task page for image-to-text task.

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ] Small snippet for inference that demonstrates the task

[2022-10-04 20:06] merveenoyan opened #353 "Image-to-Image Task Page"
This is the tracker for completion of task page for `image-to-image` task. The task page is here: https://huggingface.co/tasks/image-to-image You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to #369 if you want to contribute! 🤗

List of items to contribute:
- [x] Task description
- [ ] Subtasks (if there is a

[2022-10-04 20:06] merveenoyan opened #354 "Conversational Task Page"
This is the tracker for completion of task page for `conversational` task. The page is here: https://huggingface.co/tasks/conversational You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
- [ ] Task

[2022-10-04 20:07] merveenoyan opened #355 "Feature-extraction Task Page"
This is the tracker for completion of task page for `feature-extraction` task.

List of items to contribute:
- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases

[2022-10-04 20:08] merveenoyan opened #356 "Document-question-answering Task Page"
This is the tracker for completion of task page for `document-question-answering` task.
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗 You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)

List of items to contribute:
- [ ] Task description
- [ ] Subtasks (if there is any)
- [

[2022-10-04 20:08] merveenoyan opened #357 "Reinforcement-learning Task Page"
This is the tracker for completion of task page for `reinforcement-learning` task.

List of items to contribute:
- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases

[2022-10-04 20:09] merveenoyan opened #358 "Table-question-answering Task Page"
This is the tracker for completion of task page for `table-question-answering` task. The page is here: https://huggingface.co/tasks/table-question-answering. You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to co

[2022-10-04 20:09] merveenoyan opened #359 "Tabular-regression Task Page"
This is the tracker for completion of task page for `tabular-regression` task. The page is here: https://huggingface.co/tasks/tabular-regression. You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
-

[2022-10-04 20:10] merveenoyan opened #360 "Text-retrieval Task Page"
This is the tracker for completion of task page for `text-retrieval` task.

List of items to contribute:
- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ]  Small snippet for inference that demonstrates the task

[2022-10-04 20:11] ankrgyl commented on #356
@merveenoyan and team I'm happy to help with this! There are some documentation follow ups here too: #18926.

[2022-10-04 20:11] merveenoyan opened #361 "Zero-shot-classification Task Page"
This is the tracker for completion of task page for `zero-shot-classification` task.

List of items to contribute:
- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases

[2022-10-04 20:12] merveenoyan opened #362 "Visual-question-answering Task Page"
This is the tracker for completion of task page for `visual-question-answering` task. The page is here: https://huggingface.co/tasks/visual-question-answering You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to c

[2022-10-04 20:13] merveenoyan opened #363 "Time-series-forecasting Task Page"
This is the tracker for completion of task page for `time-series-forecasting` task.

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ] Small snippet for inference that demonstrates the ta

[2022-10-04 20:13] merveenoyan opened #364 "Text-to-Image Task Page"
This is the tracker for completion of task page for `text-to-image` task. The page is here: https://huggingface.co/tasks/text-to-image You can contribute parts of a task or the whole task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:

- [x] Task d

[2022-10-04 20:14] merveenoyan opened #365 "Text-to-Speech Task Page"
This is the tracker for completion of task page for `text-to-speech` task.

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ] Small snippet for inference that demonstrates the task

[2022-10-04 20:18] merveenoyan commented on #356
@ankrgyl ah great!

Basically we are doing documentation sprint for hacktoberfest for task pages (hf.co/tasks). I will soon release a guideline on contributing the tasks, but I will put this issue aside for you for the time being if this sounds good? 🙂 Can I assign it to you?

[2022-10-04 20:19] merveenoyan opened #366 "Tabular-to-Text Task Page"
This is the tracker for completion of task page for `tabular-to-text` task.

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ] Small snippet for inference that demonstrates the task

[2022-10-04 20:20] merveenoyan opened #367 "Unconditional-image-generation Task Page"
This is the tracker for completion of task page for `unconditional-image-generation` task.

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used dataset for the task
- [ ] Most used model for the task
- [ ] Metrics that are used to evaluate the task
- [ ] Libraries used for the task
- [ ] Use cases
- [ ] Small snippet for inference that demonstrates

[2022-10-04 20:48] ankrgyl commented on #356
Yes feel free. Once I have a better sense of how much/what work is involved, I can let you know what I'll be able to contribute.

[2022-10-05 10:05] mishig25 opened #368 "Tracking widget inference run `onLoad`"
## Tracking widget inference run `onLoad`

Expected behaviour: when a user visits a model page (for example [this page](https://huggingface.co/facebook/detr-resnet-50))
, widget should run immediately if:
* there is an the modelcard has [example widget input](https://huggingface.co/docs/hub/models-widgets-examples)
* AND this example was cached in API Inference server

#### Steps:
- [x] Implement

[2022-10-05 10:08] mishig25 commented on #368
@Narsil @OlivierDehaene please ping me when api-inference changes are ready 👍

the widget & hub changes should be almost ready now: I just need to test when api-inference is ready

[2022-10-05 13:07] Narsil commented on #368
https://github.com/huggingface/api-inference/pull/1165

[2022-10-06 12:38] merveenoyan opened #369 "Tasks Documentation Sprint 🎃"
Welcome to Tasks sprint! This is a documentation sprint aimed to onboard machine learning practitioners to open-source. 🤗
Task pages are documentation effort to lower the barrier for building ML products. There are pages for most used tasks, and some of the pages are empty that need contribution. You can help us fill them. 🥺 The ones with "contribute 🖐" sign are empty. You don't need to be an expe

[2022-10-06 13:10] merveenoyan commented on #356
@ankrgyl Task pages are documentation related to tasks. Some of the task pages are empty, some are full. The empty ones are the ones we appreciate community contributions for. This is an example task page for text generation task: https://huggingface.co/tasks/text-generation

Document question answering page looks like this: https://huggingface.co/tasks/document-question-answering it's empty, you

[2022-10-06 13:28] Paul92 commented on #353
Hello @merveenoyan. Would be happy to contribute to this task :).

[2022-10-06 13:44] osmanalenbey commented on #353
@merveenoyan I will be happy to contribute :)

[2022-10-06 13:44] osmanalenbey commented on #357
@merveenoyan I will be happy to contribute :)

[2022-10-06 13:49] merveenoyan commented on #357
Great!!! I'd like to briefly go through on what we want to do here 🙂 Task pages are documentation related to machine learning tasks. This is primarily aimed to educate software developers who want to simply know about the task, find a model, call a pipeline and build their first PoC. Some of the task pages are empty, some are full. The empty ones are the ones we appreciate community contributions

[2022-10-06 13:52] #366 closed

[2022-10-06 13:53] #365 closed

[2022-10-06 13:54] #360 closed

[2022-10-06 14:00] juancopi81 commented on #367
@merveenoyan I would like to work on this. :)

[2022-10-06 14:02] merveenoyan commented on #353
@Seyda1 hello 👋 We made this task page for text classification task, this is the level of technicality we expect https://huggingface.co/tasks/text-classification. They are wikipedia-like pages rather than super technical documentation, you can even fix a grammar of an existing page if you're willing to contribute, or add information to a task you have expertise in (you don't necessarily need to kn

[2022-10-06 14:12] juancopi81 commented on #367
Thanks @merveenoyan. I'll start with the task description and go from there, this is my first contribution, so I'll let you know if I would need any help. Thank you very much again 😃

[2022-10-06 14:18] merveenoyan commented on #367
@juancopi81 awesome! There are two guides in this link to get started #369 but please let me know if you come across any obstacle 🙂

[2022-10-06 14:24] merveenoyan commented on #357
@osmanalenbey These are wikipedia-like pages, so you can contribute basic information about a task. Some task pages are already full, you can take a look at the page of `text-classification` for inspiration: https://huggingface.co/tasks/text-classification. The list of what you can contribute is already given above.

 Subtasks (if there is any)
 Most used dataset for the task
 Most used model for

[2022-10-06 14:40] Janaki2000 commented on #361
Hello @merveenoyan. I would like to contribute here please.

[2022-10-06 14:44] merveenoyan commented on #361
@Janaki2000 thanks a lot! Do you need help or do you have any questions? Please let me know if you do!

[2022-10-06 14:46] merveenoyan commented on #352
@RaghavPrabhakar66 Great!!! Please let me know if you need any help in the process 🤗 will you contribute a part of the task? I suggest to contribute a part of it instead of whole task not to be overwhelmed 🙂

[2022-10-06 14:52] RaghavPrabhakar66 commented on #352
Ok, I will start with `Task Description`, `Most used dataset for the task.` and `Most used model for the task.` Also can we use paperswithcode.com to research on the given task or we are limited to datasets/model available on Huggingface?

[2022-10-06 15:26] brendenconnors commented on #359
I will contribute to this task page! @merveenoyan

[2022-10-06 15:26] EliottZemour commented on #356
Hi @merveenoyan, I have some experience with the DocVQA challenge. Happy to contribute as well 😊

[2022-10-06 15:28] merveenoyan commented on #359
@brendenconnors thanks a lot Brenden! I will assign it to you. Can you write down which parts you want to contribute for now? and also if you have any questions please let me know 🤗

[2022-10-06 15:42] brendenconnors commented on #359
I will work on the following pieces for now!

 Task description
 Subtasks (if there is any)
 Most used dataset for the task
 Most used model for the task

[2022-10-06 15:45] silvererudite commented on #351
Hi @merveenoyan I would like to contribute here pls...would start with `Task description`, `Most used dataset for the task` and `Most used model for the task` for now

[2022-10-06 15:50] haotieu2001 commented on #358
Hi Merve, I want to contribute to this task.

[2022-10-06 16:28] 02shanks commented on #364
Hi, @merveenoyan I would like to contribute to this task. I would like to start with the **Task description** and **Most used dataset for the task**

[2022-10-06 16:35] silvererudite commented on #351
@merveenoyan after cloning my fork, I wanted to view the docs locally  before making any changes but not being able to `preview` I ran this command `doc-builder preview hub F:\hub-docs\docs\hub\ --not_python_module` from Windows cmd and get this error
[code]

[2022-10-06 16:58] ankrgyl commented on #356
Sure! @EliottZemour if you want to drive it and add me as a reviewer, I'm happy to help in that capacity. I'm the author of the pipeline, so it might be nice to have someone else write the docs from a non-biased standpoint :)

[2022-10-06 17:06] jlondonob commented on #362
@merveenoyan I'd love to help with this!

[2022-10-06 17:32] anmar01 commented on #355
Hi merve, I would like to contribute to this page

[2022-10-06 17:47] 02shanks commented on #361
Hello @merveenoyan. I would like to work on **Most used dataset for the task**, **Most used model for the task** and **Use cases**

[2022-10-06 18:11] oguzakif commented on #364
Hi, @merveenoyan  I would like to contribute to this task. I can start with "Most used model for the task" and "libraries used for the task".

[2022-10-06 18:37] oguzakif opened #373 "Task Guide Contribution Incorrect Styling"
Hi, there is a styling issue on task-guide-contribution.md file. The text and image seemed incorrectly aligned.

![ss](https://user-images.githubusercontent.com/61146329/194392193-e9b2108f-1646-4f39-83fe-fb4a1e7d5c9d.png)

[2022-10-06 18:53] Bharat123rox commented on #369
Interested! Can this be considered for Hacktoberfest too?

[2022-10-06 19:01] 02shanks commented on #351
Hi @merveenoyan I would like to contribute to Task description and use cases

[2022-10-06 19:18] juancopi81 commented on #367
Hi @merveenoyan I actually started with the data.ts file and sent my first pull request. I'll keep later with the about.md file later! Thank you very much

[2022-10-06 19:24] ishandutta0098 commented on #364
Hi @merveenoyan , I would like to contribute to the entire task starting from the Task Description. Do I need to submit a pull request after fulfilling all the contribution items or I can raise a pull request for one item at a time as well?

[2022-10-06 19:51] osanseviero commented on #369
This is for sure considered for Hacktoberfest!

[2022-10-06 22:58] nlsschim commented on #359
@merveenoyan I am interested in contributing as well, I am planning to focus on:

Metrics that are used to evaluate the task
 Libraries used for the task
 Use cases
 Small snippet for inference that demonstrates the task

[2022-10-07 03:22] utkarsh0308 commented on #357
Hello!! I would like to contribute
can add one or two parts :)

[2022-10-07 03:47] samyak1999 commented on #364
Hi @merveenoyan I would like to contribute to to this task .I am opting to contribute in "Most used dataset for the task",
"Most used model for the task", "Metrics that are used to evaluate the task" ,"Libraries used for the task" and
"Use cases"

[2022-10-07 04:06] samyak1999 commented on #364
@merveenoyan text-to-image folder is not present under 'tasks/src'

[2022-10-07 05:53] samyak1999 commented on #364
Can we provide link to the dataset that's used for text-to-image?

[2022-10-07 08:23] sazio commented on #353
Hey @merveenoyan, I'd be happy to help if there're any items left for contributions 🤗

[2022-10-07 10:12] #373 closed

[2022-10-07 10:15] merveenoyan commented on #357
@utkarsh0308 yes! you can! @02shanks can you both write down what you'd like to contribute to avoid duplication of efforts 🙂

[2022-10-07 10:17] 02shanks commented on #357
I can work on Task description and then on Most used model for the task

[2022-10-07 11:21] utkarsh0308 commented on #357
@merveenoyan  I can't find the reinforcement-learning folder in my fork

[2022-10-07 14:14] merveenoyan commented on #364
@samyak1999 apparently @oguzakif has provided dataset and model, and @ishandutta0098 has provided use cases and useful resources. Can you check if your additions overlap with them before adding your contributions? 🙂

[2022-10-07 14:16] julien-c commented on #25
Hi everyone!! We just launched DOI generation on the HuggingFace Hub, thanks to DataCite, @Kakulukian @sashavor @cakiki and @Ahleroy 🔥

### Here's a blogpost about the feature: https://huggingface.co/blog/introducing-doi

Please try assigning DOIs to some of your repo(s) on the Hub and post any feedback here! Thank you 🤗

[2022-10-07 16:03] yoshitomo-matsubara commented on #25
It's great news!
Many thanks to the team for making this happen!

[2022-10-07 16:19] EliottZemour commented on #356
Thanks @ankrgyl, I'll keep you updated 😊

[2022-10-07 17:57] samyak1999 commented on #364
@merveenoyan I will look into it and would make sure the contents don't overlap

[2022-10-07 18:42] cakiki commented on #25
Thank you everyone; really happy this is now a feature! :hugs:

[2022-10-07 18:42] #25 closed

[2022-10-08 09:46] AshiqAbdulkhader commented on #364
@merveenoyan I would like to contribute

[2022-10-08 10:47] kushal-gopal commented on #362
Would like to contribute to the "Useful Resources" section.
@jlondonob Please let me know if it is overlapping with yours, thanks!

[2022-10-08 14:18] Bharat123rox commented on #362
@jlondonob @kushal-gopal can I contribute to the task description, most used dataset and most used model for the task? There seems to be no overlap
cc @merveenoyan

[2022-10-08 14:22] Bharat123rox commented on #361
@merveenoyan can I contribute to the task description and metrics for this page?

[2022-10-08 17:52] utkarsh0308 commented on #357
**Added reinforcement learning use cases #388**

[2022-10-08 18:05] utkarsh0308 commented on #357
**#388 Added Reinforcement learning use cases**

[2022-10-09 04:32] jlondonob commented on #362
@kushal-gopal sounds great! It does not overlap at all.

[2022-10-09 04:42] jlondonob commented on #362
Hey @Bharat123rox, I filled those fields in #382. It would be great to get your feedback if you think they can be improved!

[2022-10-10 11:44] SriPrarabdha commented on #361
hi @merveenoyan . I would like to contribute to this

[2022-10-10 14:07] avocadopelvis commented on #355
Hi @merveenoyan I would like to work on this. As a start, I would like to work on the first two items if no one else is currently working on them. 🙂

[2022-10-10 14:47] merveenoyan commented on #355
@anmar01 @avocadopelvis thanks a lot for the interest! can you align on what you will be taking to avoid duplication of work?

[2022-10-10 17:20] ankrgyl commented on #356
I certainly haven't started on it (and plan to help as a reviewer), so fro my perspective yes :). I'll let @EliottZemour and @merveenoyan speak with respect to any other in progress work.

[2022-10-10 18:02] anmar01 commented on #355
@avocadopelvis that is fine by me, for now I will take tasks 3,4,5,6 and 7.

[2022-10-10 18:47] merveenoyan commented on #356
@KayO-GH @EliottZemour can you settle on what to contribute to avoid duplication of work? 🙂

[2022-10-10 18:54] EliottZemour commented on #356
@merveenoyan absolutely! I sent an email to @KayO-GH to collaborate 😊

[2022-10-11 03:21] Gerard-170 commented on #369
Hi @merveenoyan can i work on 'Voice Activity Detection' task page? I have seen that is not added as issue, please let me know how can i proceed. :)

[2022-10-11 14:18] AnkitKUpadhyay commented on #361
Hello @merveenoyan! I would love to contribute to this. This will be my first time doing something like this and I am excited to start.

[2022-10-11 14:32] merveenoyan commented on #361
@Bharat123rox the description is currently being contributed by @02shanks, if you have a different definition you can contribute after that one is merged. You can contribute metrics in the meanwhile.
@SriPrarabdha I'll be reviewing your PR, seems pretty big 😅
@AnkitKUpadhyay which parts you want to contribute? as of now, except for models and datasets, everything seems to be contributed. (you can

[2022-10-11 14:33] osmanalenbey commented on #353
#392 Added Image-to-Image 'Most Used Models for the Task'

[2022-10-11 14:47] congaco commented on #367
@merveenoyan @juancopi81 hello I'm a newbie here would like to contribute to these tasks, what have you already done? Is there any task left that I can contribute to?

[2022-10-11 14:56] congaco commented on #358
@merveenoyan @haotieu2001 hello are Libraries used for the task and  Subtasks (if there is any) still left? I would like to contribute to theses tasks

[2022-10-11 15:19] Muennighoff opened #393 "Cannot see table header in dark mode"
### Describe the bug

See the image, the header should say Model & Parameters, but is just black. Hope this is the right place to report the bug 🙂

<img width="810" alt="Screenshot 2022-10-11 at 17 17 46" src="https://user-images.githubusercontent.com/62820084/195131762-03c0b450-2902-4fd6-ad71-8dce608c9655.png">

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-10-11 15:43] merveenoyan commented on #358
@haotieu2001 you can 🙂 there's no open PR for this from what I see.
@congaco yes you can contribute them 🙂

[2022-10-11 15:46] merveenoyan commented on #367
@congaco as of now, this is being contributed https://github.com/huggingface/hub-docs/pull/376/files which doesn't have task description (in the markdown), use cases, task variants and inference snippets. You can contribute them if you want to. 🙂

[2022-10-11 15:51] Wauplin commented on #393
I transferred the issue as this is not related to the library `huggingface_hub` but to the interface itself.

[2022-10-11 16:07] YaegerKnight commented on #351
Hello @merveenoyan , I'd like to work on the `Most used dataset for the task` and `Metrics that are used to evaluate the task`

[2022-10-11 16:10] merveenoyan commented on #351
@YaegerKnight metrics are added by @silvererudite but if you have any other metric feel free to add 🙂 the datasets work!

[2022-10-11 16:20] YaegerKnight commented on #351
Sure @merveenoyan. I'll take a look at that. Thank you

[2022-10-11 16:27] juancopi81 commented on #367
Sure!!! I am finishing the data.ts file and was thinking about moving to the other parts, so let me know if you want to split it somehow 🙂

[2022-10-11 17:13] merveenoyan commented on #369
@Gerard-170 I think it's because we don't really have a model on it atm. if you want to contribute audio tasks I will come up with missing items from them and let you know, does this work? I will also add couple of sections that can be contributed to other tasks that are already done too!

[2022-10-11 17:23] brendenconnors commented on #359
My above pieces are now complete and can be seen at https://github.com/huggingface/hub-docs/pull/383 to be merged soon.

[2022-10-11 17:32] merveenoyan commented on #359
Sorry apparently the PR was connected with `fixes`, it should be `partially fixes` instead so that issue isn't closed when PR is 🙂

[2022-10-11 18:16] congaco commented on #367
then i will do use cases, task variants and inference snippets, is that ok? and i dont see task variants in the list of items above did you mean variants subtasks or something else?

[2022-10-11 18:34] juancopi81 commented on #367
Ok for me!! So I'll add the task description.

[2022-10-11 19:23] Gerard-170 commented on #369
Hi @merveenoyan yeah it works for me, also i will take a look at other tasks if there's some sections missed👍

[2022-10-11 19:52] osanseviero commented on #393
cc @gary149 @beurkinger

[2022-10-12 00:23] Ok3ks commented on #355
I will like to work on this task. Kindly let me know which subsets are available so I can work on them

[2022-10-12 11:24] gary149 commented on #393
Thanks for notifying. @krampstudio is working on it and it should be fixed very soon!

[2022-10-12 14:00] osanseviero commented on #275
Friendly ping

[2022-10-12 14:02] merveenoyan commented on #355
@Ok3ks I think you can add use cases and a small snippet 🙂

[2022-10-12 14:02] merveenoyan commented on #357
@emiliolehoucq sure! 🙂

[2022-10-12 14:13] emiliolehoucq commented on #357
Awesome, thanks, @merveenoyan! I added to my to-do list. I'll ping you if I run into problems.

[2022-10-12 18:20] NimaBoscarino commented on #275
I wish, but I don't have the bandwidth for it right now 😞

[2022-10-13 07:02] osanseviero opened #400 "Don't have live ASR by default"
Live ASR should just be shown in the repos that allow for it, so maybe this could be a parameter in the `README.md`

Internal discussion: https://huggingface.slack.com/archives/C02G13FEMDH/p1665595839539579

[2022-10-13 08:13] Ok3ks commented on #355
I just cloned the repo, and feature-extraction is not present in tasks/src

[2022-10-13 08:54] anmar01 commented on #355
@Ok3ks yesterday I have created a pull request for the repo with the feature-extraction folder/files. I think @merveenoyan needs to accept it before it will merge.

[2022-10-13 09:25] osanseviero opened #401 "The JS Interfaces workflow is broken"
https://github.com/huggingface/hub-docs/actions/workflows/js-interfaces-tests.yml has been broken for some time

CC @mishig25 or @beurkinger would any of you be able to take a look into it?

[2022-10-13 12:40] merveenoyan opened #402 "Add tabular-classification to detailed parameters"
We lack tabular-classification request parameters for inference API [here.](https://huggingface.co/docs/api-inference/detailed_parameters)

[2022-10-13 13:29] YaegerKnight commented on #351
@merveenoyan I see that datasets in the `TaskData` is empty in #380. May I ask why this was closed?

[2022-10-13 14:56] juancopi81 commented on #367
Hi @merveenoyan and @congaco now that the data.ts file is ready and merged 🤗🤗🙂 🚀  I started working on the about.md file. As agreed, I added the task description so you @congaco can work on the other items.
Thanks again!!

[2022-10-13 15:59] Pierrci commented on #393
This was closed internally by #3920 @krampstudio, correct?

[2022-10-13 16:01] krampstudio commented on #393
Yes, it's now fixed
![image](https://user-images.githubusercontent.com/468620/195647266-819878a2-c430-49fd-bef6-5c75a47b6521.png)

[2022-10-13 16:01] #393 closed

[2022-10-13 16:38] Pathi-rao commented on #356
Hi @EliottZemour @ankrgyl @KayO-GH , I would like to help on this issue. Please let me know if I can contribute to anything.

[2022-10-13 16:49] Pathi-rao commented on #355
@Ok3ks Please let me know if you need any assistance on the task. I'm happy to contribute.

[2022-10-13 17:04] Pathi-rao commented on #352
hello @merveenoyan I would like to work on **Libraries used for the task**. Please let me know if it's still open for contribution.

[2022-10-13 19:39] merveenoyan opened #406 "Audio Classification Task Page"
This is the tracker for completion of task page for audio-classification task. The page is here: https://huggingface.co/tasks/audio-classification You can contribute parts of a task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
- [x] Subtasks
- [x

[2022-10-13 19:40] merveenoyan opened #407 "Audio-to-Audio Task Page"
This is the tracker for completion of task page for audio-to-audio task. The page is here: https://huggingface.co/tasks/audio-to-audio You can contribute parts of a task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
- [ ] Subtasks
- [ ] Use cases

[2022-10-13 19:41] merveenoyan opened #408 "Automatic-speech-recognition Task Page"
This is the tracker for completion of task page for automatic-speech-recognition task. The page is here: https://huggingface.co/tasks/automatic-speech-recognition You can contribute parts of a task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
- [

[2022-10-13 19:42] merveenoyan opened #409 "Text-to-Speech Task Page"
This is the tracker for completion of task page for text-to-speech task. The page is here: https://huggingface.co/tasks/text-to-speech You can contribute parts of a task! (There's no single assignee to a task, these are wikipedia-like pages)
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:
- [ ] Subtasks
- [ ] Use cases

[2022-10-13 19:45] merveenoyan commented on #369
@Gerard-170 above you can find new task pages to be contributed 🙂

[2022-10-13 20:09] Gerard-170 commented on #408
Hi, I will contribute with Substasks and Use cases, If I come up with something new, I will add it. :D

[2022-10-14 10:05] merveenoyan commented on #352
@Pathi-rao I think so 🙂

[2022-10-14 12:38] merveenoyan commented on #351
@YaegerKnight feel free to contribute, one of the PRs were linked with `fixes` and it automatically closes the issue when PR is merged. I re-opened it.

[2022-10-14 13:41] merveenoyan commented on #356
@Pathi-rao I think you can see their PR here: #395 and see if you have anything to add on top and open a PR🙂

[2022-10-14 15:38] Pathi-rao commented on #352
Is this the right approach for finding the used libraries?

- I went [here](https://huggingface.co/models?library=keras&pipeline_tag=image-to-text&sort=downloads) and applied filters on the left and *Keras* is the only one I could see.

[2022-10-14 15:50] merveenoyan commented on #352
@Pathi-rao these are wikipedia-like pages, so if you have anything to share about the task that you think might be useful for readers and is not being contributed by others as of now, feel free to write it down 🙂

[2022-10-14 16:43] jkuypers93 commented on #354
Hi @merveenoyan, I would like to work on this. Can you let me know what still needs to be completed? Thanks!

[2022-10-14 16:54] merveenoyan commented on #354
@jkuypers93 I updated the checklist above, however, you can check this page: https://github.com/huggingface/hub-docs/blob/main/tasks/src/conversational/about.md see if there's anything else you'd like to share with others about it that you think can be useful and contribute 🤗

[2022-10-14 19:44] ExpressGradient commented on #407
I'm super excited. Can I do this?

[2022-10-15 19:17] mertbozkir commented on #409
Can you assign this issue to me, I would love to work on it! 🚀

[2022-10-17 06:41] NielsRogge opened #414 "Add threshold parameter for object detection widget"
**Is your feature request related to a problem? Please describe.**
Currently, the object detection widgets don't have a `threshold` parameter, so they just use the hardcoded one from the object detection pipeline, which is 0.9 as seen [here](https://github.com/huggingface/transformers/blob/dd464e22a756b96e3c20e459139da407798ab282/src/transformers/pipelines/object_detection.py#L94).

However, with

[2022-10-17 15:04] osanseviero commented on #414
Is this supported in the `pipeline` class already @NielsRogge ?

[2022-10-17 15:58] Wauplin opened #419 "Markdown link not rendered correctly in a "<Tip>" section"
### Is your feature request related to a problem? Please describe.
When using the `<Tip> (...) </Tip>` syntax, links are generated but not displayed properly in the UI.

Here is an example where it happens: https://huggingface.co/docs/huggingface_hub/main/en/package_reference/login.
I define a link in the docstring using the "[`login`]" syntax which is converted into a markdown link `"[login()](/d

[2022-10-17 16:40] Gerard-170 commented on #408
Hi @merveenoyan I have a question regarding to Subtasks section, Is this similar to Task Variants?

[2022-10-17 16:47] merveenoyan commented on #408
@Gerard-170 yup!

[2022-10-18 14:43] vwxyzjn opened #427 "Tensorboard files not shown in the hub"
### Describe the bug

The training metrics section does not appear even though the tensorboard files are present. See https://huggingface.co/vwxyzjn/CartPole-v1-dqn-seed1/tree/main

<img width="716" alt="image" src="https://user-images.githubusercontent.com/5555347/196460646-a7f7dc6a-39a5-4ace-a67f-41106312c6be.png">
<img width="967" alt="image" src="https://user-images.githubusercontent.com/55553

[2022-10-18 15:03] osanseviero commented on #427
cc @severo

[2022-10-18 17:18] julien-c opened #429 "Duplicate task type in `Types.ts`: `tabular-to-text` and `table-to-text`"
Which one is the correct one?

https://github.com/huggingface/hub-docs/blob/8d58c1b786e62890fd990c2ce2a5e25b1be786e6/js/src/lib/interfaces/Types.ts#L493-L516

[2022-10-18 19:52] osanseviero commented on #429
I think `table-to-text` is for tasks such as Table Question Answering which is different from tabular to text

[2022-10-18 19:55] julien-c commented on #429
hmm ok but they both have `rdf-to-text` as a subtask (and both are blue)

a subtask should only be inside one task no?

[2022-10-19 00:13] shloksah commented on #355
Hi @merveenoyan, I would like to contribute to 8,9 & 10. Thanks

[2022-10-19 07:23] Ayush-Batra commented on #355
Hi @merveenoyan, I would like to contribute to this issue.

[2022-10-19 08:58] mishig25 commented on #368
completed! can be tested at: https://huggingface.co/facebook/detr-resnet-50

[2022-10-19 08:58] #368 closed

[2022-10-19 09:09] severo commented on #427
Hi. I confirm that tensorboard should be working on this repo, it works locally. Investigating... cc @XciD

[2022-10-19 11:50] severo commented on #427
It's fixed, thanks to @XciD.

[2022-10-19 11:50] #427 closed

[2022-10-19 12:21] merveenoyan commented on #355
@shloksah @Ayush-Batra feel free to get started! 🤗 let me know if there's anything I can help with.

[2022-10-19 12:23] merveenoyan commented on #429
@osanseviero there's a separate id for `table-question-answering` no?
BTW I decided to not included this task in tasks given there's no model as of now. @julien-c WDYT

[2022-10-19 14:27] osanseviero commented on #429
`rdf-to-text` should only be in `tabular-to-text` as per https://docs.google.com/document/d/1wTOa3s23T7dsAC14AQYWP1oqgBwgrp2V4zrJmDDF_Hc/edit#heading=h.ysfmqr43vng0

But I also think `table-to-text` might be confusing. @lhoestq what was the use case of this task?

[2022-10-19 15:55] Bharat123rox commented on #409
I would like to contribute some use cases and useful resources to this task!

[2022-10-19 15:56] merveenoyan opened #432 "Have GitHub Action for Eslint"
It would be nice to have a GH Action to automatically lint the code given this repository is easy to contribute (documentation & more) and it's cumbersome to expect people to install eslint & have config.

[2022-10-19 16:19] merveenoyan commented on #409
@Bharat123rox @mertbozkir feel free to open the PRs 🙂

[2022-10-19 16:29] lhoestq commented on #429
tabular to text = one row of a table to text

table to text = one full table to text

[2022-10-19 16:35] brendenconnors commented on #359
Hello @nlsschim are you still working on this? If not I will pick up the rest of the items.

[2022-10-19 17:26] hsuyab commented on #359
Hello is anyone working on the tasks, or can I contribute as well?

[2022-10-19 17:29] Ayush-Batra commented on #355
@merveenoyan under task/src I cannot find the Feature-extraction folder, can you please check and verify!

[2022-10-19 17:38] merveenoyan commented on #355
@Ayush-Batra you can create it yourself :')

[2022-10-19 17:39] merveenoyan commented on #359
@hsuyab sure! @brendenconnors contributed a big chunk, you can check out this https://github.com/huggingface/hub-docs/tree/main/tasks/src/tabular-regression and see what you want to contribute :)

[2022-10-19 17:44] merveenoyan commented on #359
@hsuyab sure feel free! 🤗

[2022-10-19 17:46] merveenoyan commented on #429
Why don't we have them both in same abstraction, what is the difference? table with one row is still a table no? 😅 does a model know whether it should look in one row or not?

[2022-10-19 18:10] merveenoyan commented on #355
@Ayush-Batra you can use this template: https://github.com/huggingface/hub-docs/tree/main/tasks/src/placeholder, have you read the contribution guide?

[2022-10-19 20:31] osanseviero commented on #429
I think the point is that in table-to-text, the input is a full table and the output is a single string. In tabular-to-text, the input is a full table, but for each row you get a string.

[2022-10-19 20:52] merveenoyan commented on #362
@Bharat123rox you can contribute libraries used for the task, subtasks and useful resources 🙂

[2022-10-20 11:25] #429 closed

[2022-10-21 01:42] shloksah commented on #355
Hi @merveenoyan , I initiated a PR for about.md. @Ayush-Batra feel free to add your inputs/ suggest edits to the file. I have added one use case and an inference snippet. Thanks

[2022-10-21 04:28] merveenoyan commented on #355
@shloksah if you write a comment to your PR by writing "partially fixes # 355" it will automatically link your PR to here so that others can see what you're working on to avoid work duplication🙂

[2022-10-21 04:41] #356 closed

[2022-10-23 16:49] Ayush-Batra commented on #355
@merveenoyan @shloksah  I have opened a PR, any suggestions are welcomed :)

[2022-10-25 05:45] jpandeinge commented on #359
@merveenoyan  I am interested in contributing to
Metrics that are used to evaluate the task
can i still contribute?

[2022-10-26 07:27] cakiki opened #453 "[FEATURE REQUEST] Custom author list when generating DOIs"
It might make sense to allow users to select which authors to register the DOIs for. People working within large organizations that create an artifact might prefer to claim and retain authorship over an artifact (especially researchers for whom authorship is crucial) as opposed to just having it default to the org name.

cc @julien-c @sashavor @Kakulukian @osanseviero

[2022-10-26 07:30] cakiki opened #454 "[FEATURE REQUEST] Easier mentioning of @username in the community tab"
Right now the autocomplete of usernames seems to load every single user on the hub and users have to have the correct spelling. It might be better to first try to load people **1.** a user normally mentions and **2.** people who have already contributed to the thread I'm currently in.

[2022-10-26 10:50] julien-c commented on #454
[internal issue](https://github.com/huggingface/moon-landing/issues/3496)

[2022-10-26 13:55] merveenoyan commented on #359
@jpandeinge yes you can!

[2022-10-28 07:38] aneesh-aparajit commented on #353
Hello @merveenoyan, I'd be happy to contribute if there are components left to contribute!

[2022-10-28 15:33] merveenoyan commented on #353
@aneesh-aparajit you can always contribute given these are wikipedia like pages 🙂 maybe take a look at here and see if there's anything you'd like to add? https://github.com/huggingface/hub-docs/tree/main/tasks/src/image-to-image

[2022-10-28 16:02] #432 closed

[2022-10-30 13:39] congaco commented on #367
hi can you tell me how to write the inference?

[2022-10-31 13:12] merveenoyan commented on #367
@congaco there are many ways we'd like to see most general one, you can see example snippets below:
- https://huggingface.co/google/ddpm-cifar10-32#inference
- https://huggingface.co/CompVis/ldm-celebahq-256#inference-with-a-pipeline

[2022-10-31 13:20] merveenoyan commented on #351
@chefhaider @YaegerKnight currently the following are missing, would you still be up to contribute?

List of items to contribute:

 Subtasks (if there is any)
 Most used dataset for the task
 Libraries used for the task
 Use cases
 Small snippet for inference that demonstrates the task
 Task Schema
 Model for Widget

[2022-10-31 13:24] merveenoyan commented on #353
@aneesh-aparajit currently a small snippet to infer with the task, libraries used and subtasks (task variants) are missing, would you like to contribute?

[2022-10-31 13:35] aneesh-aparajit commented on #353
Yeah sure... just let me know what I'll have to do...

[2022-10-31 13:52] merveenoyan commented on #353
@aneesh-aparajit you can contribute 🙂

[2022-10-31 18:23] chefhaider commented on #351
@merveenoyan Absolutely! for now I'll be picking up Uses Cases and Small snippets.

[2022-10-31 22:01] Herrius commented on #352
@merveenoyan I would like to work in project. What is task available?

[2022-11-01 11:03] sayakpaul opened #467 "Video classification task page"
This is the tracker for completion of task page for video classification. The page is here: https://huggingface.co/tasks/video-classification You can contribute parts of a task or the whole task!
You can refer to https://github.com/huggingface/hub-docs/issues/369 if you want to contribute! 🤗

List of items to contribute:

- [ ] Task description
- [ ] Subtasks (if there is any)
- [ ] Most used data

[2022-11-01 16:02] alaradirik commented on #414
Hey @osanseviero, threshold is already supported in the `pipeline` class, I'm updating the pipeline to use the `post_process_object_detection` methods instead of `post_process` with this [PR](https://github.com/huggingface/transformers/pull/20004).

[2022-11-01 16:57] osanseviero commented on #414
Cc @mishig25 and @OlivierDehaene maybe can help here (adding the slider in the widget and adding support in the inference API for this)

[2022-11-02 03:43] camenduru opened #470 "git lfs tracking "*.ckpt" files with default .gitattributes"
I keep forgetting `git lfs track "*.ckpt"` 🤪 if it is possible please add "*.ckpt" in default .gitattributes

[2022-11-02 06:21] mbdzi opened #469 "Request for Examples on Correct Use the CLIPText Model (transformers.CLIPTextModel)"
From the documentation on the [Hugging Face Hub](https://huggingface.co/docs/transformers/model_doc/clip#transformers.CLIPTextModel), it is not clear:

1. How the CLIPTextModel can be used.
2. If it can be used to conduct Zero Shot Classification of textual inputs using a predefined list of tokens as classes.  To be precise, let us say I have a list dataset called x with two strings such that x =

[2022-11-02 10:10] surajdengale commented on #352
Hi, I'd like to contribute to this task.
Please let me know the availability of tasks.

[2022-11-02 10:15] julien-c commented on #470
Yes! supportive

[2022-11-02 10:15] julien-c commented on #470
@Wauplin want to tackle this? should be easy to do it in `moon-landing`

[2022-11-02 10:24] Wauplin commented on #470
Sure ! :)

[2022-11-03 02:25] camenduru commented on #470
thanks ❤

[2022-11-03 14:11] #470 closed

[2022-11-03 14:12] Pierrci commented on #470
should be live in the next 24 hours

[2022-11-04 08:07] osanseviero opened #473 "Tracking integration for Depth Estimation"
## Tracking integration of task - Depth Estimation

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [x] Integration with Inference API. Select at least one of the following:
  - [x] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Adde

[2022-11-04 08:12] sayakpaul commented on #473
@osanseviero I will work on it parallelly with a [fine-tuning tutorial for depth estimation](https://github.com/huggingface/notebooks/issues/263).

[2022-11-05 20:43] coyotte508 opened #478 "Bug with licenses table"
https://huggingface.co/docs/hub/repositories-licenses

![image](https://user-images.githubusercontent.com/342922/200140558-6ce43e1f-d477-4a46-958f-643866bcd7a1.png)

It should be a table

[2022-11-06 20:08] julien-c commented on #478
😱 😱

[2022-11-06 20:21] julien-c commented on #478
Proposed fix in #479 and https://github.com/huggingface/moon-landing/pull/4406

[2022-11-07 14:02] #478 closed

[2022-11-07 17:18] Bearnardd opened #480 "Model card for distilbert-base-cased has a wrong distillation process link"
## Describe the bug
Link for the code for the distillation process in [distilbert-base-uncased](https://huggingface.co/distilbert-base-cased) is incorrect. The  link is updated for the [distilbert-base-uncased](https://huggingface.co/distilbert-base-uncased).

## Solution
Update link `https://github.com/huggingface/transformers/tree/main/examples/distillation` => `https://github.com/huggingface/tr

[2022-11-07 17:31] julien-c commented on #480
Hi @Bearnardd – good catch, any way you could open a PR directly on the model repo on huggingface hub? (look for the "community tab" or just "edit model card")

Thanks!

[2022-11-07 17:42] Bearnardd commented on #480
Hi @julien-c! Sure, I am gonna open a PR in the evening.

[2022-11-07 19:42] Bearnardd commented on #480
PR: https://huggingface.co/distilbert-base-cased/discussions/2

[2022-11-07 21:56] Bearnardd commented on #480
Fix was merged

[2022-11-07 21:56] #480 closed

[2022-11-08 05:31] ganzhiruyi opened #481 "Questions for search engines."
**Is your feature request related to a problem? Please describe.**
Huggingface is a good platform for sharing models. I have a question about the search engine. I have upload my stable-diffusion models recently, you can find from https://huggingface.co/IDEA-CCNL/Taiyi-Stable-Diffusion-1B-Chinese-v0.1.
However, when I choose Chinese tag, type 'stable diffusion', I can't find my model. I can find my

[2022-11-08 12:50] coyotte508 opened #484 "Add an "external link" icon"
Like https://icons8.com/icons/set/external-link

For https://github.com/huggingface/moon-landing/issues/4267

[2022-11-08 12:51] #484 closed

[2022-11-08 12:51] coyotte508 commented on #484
ignore

[2022-11-09 16:33] ProGamerGov opened #490 "Add the OpenRAIL++ License as an option for models"
**Is your feature request related to a problem? Please describe.**

The current OpenRAIL license family contains some very problematic lines that allow for forced updates and restrictions of models.

This means that users are not supposed to ever be using previous versions of models, which is very problematic and dangerous.

**Describe the solution you'd like**

The OpenRAIL++ License removes thes

[2022-11-09 21:11] osanseviero opened #493 "Document Auto Space Shutdown"
Add documentation explaining why a space is stopped automatically after inactivity and how this can also be controlled with CPU upgrades. Also document the restart.

[2022-11-10 07:52] cakiki commented on #454
https://twitter.com/lizallendorf/status/1590432089677402112  ❤️

[2022-11-10 07:52] #454 closed

[2022-11-12 16:21] sneedgers commented on #336
Its actually backend issue. because its an issue inside the docker!
it was working fine !

[2022-11-14 12:27] julien-c commented on #490
For @annatrdj and @CarlosMFerr

[2022-11-14 12:37] julien-c commented on #454
thanks @allendorf :)

[2022-11-14 12:45] julien-c commented on #490
Yes i think we should add it as a built-in option

[2022-11-14 12:45] julien-c commented on #490
cc @yk too

[2022-11-14 16:26] meg-huggingface commented on #490
I agree that this would be a useful change, but see the "++" designation in the name is problematic.
Suggest using another name that is not tied to the ++ denotation in computer science.

[2022-11-14 18:40] meg-huggingface commented on #490
I have no additional points to make at this time; please everyone feel free to consider other names.
Technically, if we remove a clause and want to stick with CS denotation, OpenRail-- may be more appropriate.

[2022-11-14 18:42] julien-c commented on #490
`++` implies it's an improved version (and even though C was better than C++)

maybe a more explicit `openrail-no-updates-required` would be better?

[2022-11-14 18:43] julien-c commented on #490
or OpenRAIL--

[2022-11-14 20:46] yk commented on #490
it implies a successor, which is what it is.

Call it whatever you will, but I actually want to hear how this is "problematic". Because I suspect the issue is much more a personal dislike for the license author than anything else and I disagree with strategy of making vague accusations and then weasel out that's being employed here.

[2022-11-14 21:54] ProGamerGov commented on #490
Name-wise, it might be good idea to try to follow the current OpenRail naming convention:

https://www.licenses.ai/ai-licenses

https://www.licenses.ai/blog/2022/8/18/naming-convention-of-responsible-ai-licenses

[2022-11-16 02:49] #467 closed

[2022-11-16 09:15] CarlosMFerr commented on #490
Agree with @julien-c on the name, it gives the user a clear idea upfront of what they are getting with the license `no-updates-required-openrail-m` . @yk  as suggested by @ProGamerGov and following OpenRAIL naming convention, it should be at least: `++-openrail-m` (++ OpenRAIL-M), otherwise, OpenRAIL++ would be confusing to users, as they would not know whether t is a license for the model, data,

[2022-11-16 11:17] julien-c commented on #490
For now we did add it as `Open Rail++-M License` in https://github.com/huggingface/hub-docs/commit/5ee84833d14e611aa2a1354c62ed306052db5897

we can always update in the future if needed

Screenshot of repo license picker:

<img width="1211" alt="image" src="https://user-images.githubusercontent.com/326577/202166654-ee4f2fa6-be0b-48a6-a64b-dc5538a97e81.png">

[2022-11-16 11:17] julien-c commented on #490
closing, feel free to reopen if needed!

[2022-11-16 11:40] CarlosMFerr commented on #490
We should then add a short intro disclaimer for the license: "The OpenRAIL++M license does not include the Preamble nor the model update obligations present in clause 7 of the CreativeML OpenRAIL-M. Therefore, the license does not require users to use the last updated version of the licensed model. Otherwise, the rest of the license is the same as the CreativeML OpenRAIL-M."

[2022-11-16 17:59] Lauler opened #509 "Organization cards cannot render most markdown and html correctly"
**Is your feature request related to a problem? Please describe.**
Organization cards on an organization's frontpage on huggingface.co appear to be very limited in the markdown and html that they are able to render. As an example: it cannot handle nor display lists.

Here is an example of our organization's front page: https://huggingface.co/KBLab
Here is how the README used to generate the front

[2022-11-16 21:48] osanseviero commented on #509
cc @gary149 @beurkinger @julien-c

[2022-11-17 15:06] coyotte508 commented on #509
Hi @Lauler

We recently released a fix (thanks @Kakulukian !). Can you check if it's ok now?

[2022-11-18 08:47] mishig25 opened #516 "How to stop noisy warning on svelte-check"
Currently, [npm run check](https://github.com/huggingface/hub-docs/blob/08666aa07b39f00f51e9c182e3672c8207153b0b/js/package.json#L8) outputs a lot of warnings that say:
[code]

for example [here](https://github.com/huggingface/hub-docs/actions/runs/3492276947/jobs/5845878964#step:6:960)

because there are so many warnings, it is hard to see actual errors.
Any idea how to fix it ?
cc: @coyotte508 @

[2022-11-18 08:52] coyotte508 commented on #516
fix all warnings & fail on warnings as well!

[2022-11-20 12:08] Lauler commented on #509
The lists and and layout look as expected now. Seems to render markdown the same as model cards. Thanks for the quick fix!

@coyotte508 The one functionality that may have been lost in the fix seems to be the ability to customize link colors with HTML. However, it also looks like you have removed that example from the documentation of organization cards, so perhaps it's working as intended? Custom

[2022-11-20 13:28] coyotte508 commented on #509
@Lauler you may need to add `!important` to the CSS styles.

Example card: https://huggingface.co/TestSSRF

[code]

[2022-11-20 13:28] #509 closed

[2022-11-21 15:21] mishig25 opened #520 "Add Inference API docs under this repo"
Add Inference API docs under this repo

[2022-11-21 21:56] camenduru opened #521 "How to see all my liked pages ?"
https://huggingface.co/?recent=like only 20 😥 sometimes 10 😥

[2022-11-21 23:15] camenduru commented on #521
oh no 😐

[2022-11-22 17:25] osanseviero opened #523 "Improve documentation about Spaces Upgrades pricing"
@christophe-rannou would you be able to take this one?

[2022-11-23 13:31] christophe-rannou commented on #523
Sure thing, what kind of information you're expecting ? Mainly during which stage a space is actually billed ?

Should I have this under the Other -> Billing section or under Spaces -> Spaces GPU Upgrades ?

[2022-11-23 21:58] julien-c opened #526 "Document our ArXiv integration"
e.g. a FAQ 'how do i get my Space listed on ArXiv' could be cool

[2022-11-23 21:59] julien-c opened #527 "Document the "Embed this Space" new modal"
Similar to what is in the Gradio doc, but more general https://gradio.app/sharing_your_app/#embedding-hosted-spaces

[2022-11-24 09:59] CarlosMFerr commented on #490
Following my earlier comment, to avoid users' confusion would it make sense to tag it as `blank-openrail++` @yk

[2022-11-26 21:55] ravenouse opened #528 "Some Bugs found on the `Bettertransformer` tutorial page"
I found some dead links and some unclear points on this tutorial [webpage](https://huggingface.co/docs/optimum/bettertransformer/tutorials/contribute).

1. In `Step 2: Building the xxxLayerBetterTransformer module`, the link to `modeling_encoder.py ` is dead.

2. In `Step 4: Sanity check!`, the link to ` tutorials sections` is dead.

3. The description about what conditions the `BetterTransformer`

[2022-11-26 22:25] younesbelkada commented on #528
Hi @ravenouse ,
Thank you very much for your issue!
I made a PR on `optimum` to fix the dead link: https://github.com/huggingface/optimum/pull/517
Could you move the issue on [`optimum`]( https://github.com/huggingface/optimum ) instead for the thrid point? Thanks!

[2022-11-26 22:25] #528 closed

[2022-11-28 06:16] Jasheenshaik opened #529 "Website not working"
Hi

i am not able to use the website and not able to download the weights and it is showing 504 Gateway Time-out error . can you please check this one

Thanks
Jasheen shaik

[2022-11-28 07:00] #529 closed

[2022-11-28 18:25] julien-c commented on #529
sorry about the temporary hiccup 🤗

[2022-11-29 14:55] julien-c commented on #527
for @christophe-rannou maybe?

[2022-11-29 17:15] gary149 opened #531 "Hub docs: harmonize sections title/content"
It would be cool to harmonize the sections' order/titles. For eg: Model overview first (like for dataset), Uploading datasets instead of Using Datasets (like for models), and in the same order. Having the same structure (or close) for each repo type.

![image](https://user-images.githubusercontent.com/3841370/204596673-d810a170-2b53-4846-ae77-fec608317535.png)

[2022-11-30 09:56] osanseviero commented on #523
* Yes, documenting that we bill for stages X and Y, bill for minute running, etc. How to turn off might be good as well
* I think this could live somewhere near https://huggingface.co/docs/hub/spaces-gpus, maybe as a separate page or as a subsection of the page